Repository software4health/PCMT: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pim docker build (on git push), ansible docker build, terraform docker build, env-test, env-test (manual), env-test-destroy

pim docker build (on git push):
  stage: build
  script:
  - bin/ci-build.sh
  - bin/ci-push.sh

ansible docker build:
  stage: build
  script:
  - cd deploy/ansible
  - ./build.sh
  - docker push pcmt/ansible:latest

terraform docker build:
  stage: build
  script:
  - cd deploy/terraform
  - ./build.sh
  - docker push pcmt/terraform:latest

env-test:
  stage: deploy
  variables:
    PCMT_PROFILE: dev
  environment:
    name: test
    url: http://test.pcmt.villagereach.org
    on_stop: env-test-destroy
  script:
  - ./bin/ci-deploy.sh test

env-test (manual):
  stage: deploy
  variables:
    PCMT_PROFILE: dev
  environment:
    name: test
    url: http://test.pcmt.villagereach.org
    on_stop: env-test-destroy
  script:
  - ./bin/ci-deploy.sh test
  when: manual

env-test-destroy:
  stage: deploy
  variables:
    PCMT_PROFILE: dev
  environment:
    name: test
    url: http://test.pcmt.villagereach.org
    on_stop: env-test-destroy
    action: stop
  script:
  - ./deploy/terraform/run-docker.sh test destroy -auto-approve
  when: manual

180-3 added ecs fix
  pim/src/PcmtDraftBundle/Controller/PcmtMassEditController.php
Due: pim docker build (on git push), env-test, env-test (manual), env-test-destroy

#203 - labels under save button in editing form of product, product model, draft of product and draft of product model
  pim/src/PcmtDraftBundle/Entity/AbstractDraft.php
  pim/src/PcmtDraftBundle/Normalizer/DraftNormalizer.php
  pim/src/PcmtDraftBundle/Resources/config/doctrine/AbstractDraft.orm.yml
  pim/src/PcmtDraftBundle/Resources/config/form_extensions/draft/product-drafts-edit.yml
  pim/src/PcmtDraftBundle/Resources/config/form_extensions/draft/product-model-drafts-edit.yml
  pim/src/PcmtDraftBundle/Resources/config/form_extensions/product/edit.yml
  pim/src/PcmtDraftBundle/Resources/config/form_extensions/product_model/edit.yml
  pim/src/PcmtDraftBundle/Resources/config/requirejs.yml
  pim/src/PcmtDraftBundle/Resources/public/js/draft/form/label.js
  pim/src/PcmtDraftBundle/Resources/public/js/product/form/label.js
  pim/src/PcmtDraftBundle/Resources/public/templates/common/form/label.html
  pim/src/PcmtDraftBundle/Resources/translations/jsmessages.en_US.yml
Due: pim docker build (on git push), env-test, env-test (manual), env-test-destroy

#218 Resolve: Not working E2Open import after changes in attributes definition
  pim/src/PcmtCoreBundle/Connector/Job/E2OpenFromXmlTasklet.php
  pim/src/PcmtCoreBundle/Connector/Mapping/E2OpenMapping.php
  pim/src/PcmtCoreBundle/Resources/config/jobs.yml
  pim/src/PcmtCoreBundle/Resources/config/services.yml
  pim/src/PcmtCoreBundle/Service/E2Open/E2OpenAttributesService.php
  pim/src/PcmtCoreBundle/Service/E2Open/E2OpenMappingHandler.php
  pim/src/PcmtCoreBundle/Tests/Service/E2Open/E2OpenAttributeServiceTest.php
  pim/src/PcmtCoreBundle/Tests/Service/E2Open/E2OpenMappingHandlerTest.php
Due: pim docker build (on git push), env-test, env-test (manual), env-test-destroy

Family should not be blank on product creation. Family in drafts read-only.
  pim/src/PcmtDraftBundle/Controller/PcmtProductController.php
  pim/src/PcmtDraftBundle/Controller/PcmtProductModelController.php
  pim/src/PcmtDraftBundle/Normalizer/ProductViolationNormalizer.php
  pim/src/PcmtDraftBundle/Resources/config/controllers.yml
  pim/src/PcmtDraftBundle/Resources/config/form_extensions.yml
  pim/src/PcmtDraftBundle/Resources/config/form_extensions/draft/product-drafts-edit.yml
  pim/src/PcmtDraftBundle/Resources/config/form_extensions/mass_edit/product.yml
  pim/src/PcmtDraftBundle/Resources/config/form_extensions/product/edit.yml
  pim/src/PcmtDraftBundle/Resources/config/normalizers.yml
  pim/src/PcmtDraftBundle/Resources/config/requirejs.yml
  pim/src/PcmtDraftBundle/Resources/config/validation.yml
  pim/src/PcmtDraftBundle/Resources/public/js/draft/common/modal.js
  pim/src/PcmtDraftBundle/Resources/public/js/draft/form/common/creation/modal.js
  pim/src/PcmtDraftBundle/Resources/public/js/mass-edit/form/product/change-family-disabled.js
  pim/src/PcmtDraftBundle/Resources/public/js/product/form/meta/change-family-disabled.js
  pim/src/PcmtDraftBundle/Resources/public/js/product/form/meta/family.js
  pim/src/PcmtDraftBundle/Resources/public/templates/product/meta/change-family-modal-disabled.html
  pim/src/PcmtDraftBundle/Resources/public/templates/product/meta/family.html
Due: pim docker build (on git push), env-test, env-test (manual), env-test-destroy

#138 - Editing draft of a new product model
  pim/src/PcmtDraftBundle/Controller/PcmtDraftController.php
  pim/src/PcmtDraftBundle/Normalizer/ProductDraftNormalizer.php
  pim/src/PcmtDraftBundle/Normalizer/ProductModelDraftNormalizer.php
  pim/src/PcmtDraftBundle/Resources/config/form_extensions/draft/new-product-model-drafts-edit.yml
  pim/src/PcmtDraftBundle/Resources/config/form_extensions/draft/new-product-variant-drafts-edit.yml
  pim/src/PcmtDraftBundle/Resources/config/form_extensions/product_model/edit.yml
  pim/src/PcmtDraftBundle/Resources/config/normalizers.yml
  pim/src/PcmtDraftBundle/Resources/config/requirejs.yml
  pim/src/PcmtDraftBundle/Resources/public/js/draft/draft_list.js
  pim/src/PcmtDraftBundle/Resources/public/js/draft/form/creation/variant.js
  pim/src/PcmtDraftBundle/Resources/public/js/product-model/form/add-child/add-child.js
  pim/src/PcmtDraftBundle/Resources/public/js/product/form/variant-navigation.js
  pim/src/PcmtDraftBundle/Tests/Normalizer/ProductDraftNormalizerTest.php
  pim/src/PcmtDraftBundle/Tests/Normalizer/ProductModelDraftNormalizerTest.php
Due: pim docker build (on git push), env-test, env-test (manual), env-test-destroy

#215 hidden product/product-model import jobs for custom dataset
  pim/src/PcmtCustomDatasetBundle/Command/PcmtCreateCustomDatasetCommand.php
  pim/src/PcmtCustomDatasetBundle/Resources/config/jobs.yml
  pim/src/PcmtCustomDatasetBundle/Resources/config/providers.yml
  pim/src/PcmtCustomDatasetBundle/Resources/fixtures/pcmt_global/jobs.yml
  pim/src/PcmtDraftBundle/DependencyInjection/PcmtDraftExtension.php
  pim/src/PcmtDraftBundle/Resources/config/jobs.yml
  pim/src/PcmtDraftBundle/Resources/config/steps.yml
Due: pim docker build (on git push), env-test, env-test (manual), env-test-destroy

#132, add local mysql dump
  .gitlab-ci.yml
  Makefile
  conf/mysql-creds.env
  deploy/cron/Dockerfile
  deploy/cron/entrypoint.sh
  deploy/mysql-backup/Dockerfile
  deploy/mysql-backup/cmd-to-run.sh
  docker-compose.prod.yml
Due: none

#132, make mysql-backup depend on cron build. Reflect in gitlab-ci.
  .gitlab-ci.yml
  Makefile
Due: none

#132, add license headers
  deploy/cron/Dockerfile
  deploy/cron/entrypoint.sh
  deploy/mysql-backup/Dockerfile
  deploy/mysql-backup/cmd-to-run.sh
Due: none

#132, update gitlab-ci to reflect deprecation of globals
  .gitlab-ci.yml
Due: none

132, add s3 image to sync volume out to bucket #132, move directory specific gitignore paths into directory's local
  .gitignore
  .gitlab-ci.yml
  Makefile
  conf/.gitignore
  deploy/mysql-backup/cmd-to-run.sh
  deploy/s3/Dockerfile
  deploy/s3/README.md
  deploy/s3/cmd-to-run.sh
  docker-compose.prod.yml
Due: none

#132, fix gitlab-ci so that only tag works again.
  .gitlab-ci.yml
Due: none

#132, fix yaml syntax
  .gitlab-ci.yml
Due: none

#132, add license headers
  deploy/s3/README.md
  deploy/s3/cmd-to-run.sh
Due: none

#221 GS1 attribute label changed
  pim/src/PcmtCustomDatasetBundle/Resources/fixtures/pcmt_global/import_files/2019-11-29/3_attributes.xlsx
Due: pim docker build (on git push), env-test, env-test (manual), env-test-destroy

#220 Resolve "Dashboard – the “Review” button doesn’t go anywhere/do anything"
  pim/src/PcmtDraftBundle/Entity/ProductDraftORMRepository.php
  pim/src/PcmtDraftBundle/Resources/config/fetchers.yml
  pim/src/PcmtDraftBundle/Resources/public/templates/draft/draft-products-widget.html
  pim/src/PcmtDraftBundle/Resources/translations/jsmessages.en_US.yml
  pim/src/PcmtDraftBundle/Widget/DraftsFetcher.php
Due: pim docker build (on git push), env-test, env-test (manual), env-test-destroy

#214 - Cron settings in php docker container
  pim/Dockerfile
  pim/crontab
  pim/docker/pim/cronRun.sh
  pim/docker/pim/start.sh
Due: pim docker build (on git push), env-test, env-test (manual), env-test-destroy

212, adds ftp image for getting xml files
  .gitlab-ci.yml
  Makefile
  conf/.gitignore
  conf/ftp-get-creds.env.dist
  deploy/ftp-get/Dockerfile
  deploy/ftp-get/README.md
  deploy/ftp-get/cmd-to-run.sh
  deploy/ftp-get/ftp-cmd.sh
  deploy/ftp-get/list-files.ftpbatch
  deploy/ftp-get/set-env.sh
  docker-compose.prod.yml
Due: none

#212, temp disable ftp rename
  deploy/ftp-get/cmd-to-run.sh
Due: none

#212, adjusted sftp directory for 214. Tweak schd
  docker-compose.prod.yml
Due: none

212, add debug to CI to evaluate secret file pass
  bin/ci-deploy.sh
Due: none

#199 fix Akeneo bug with displaying product models after pagination
  pim/src/PcmtDraftBundle/Datasource/AssociatedProductDatasource.php
  pim/src/PcmtDraftBundle/Datasource/AssociatedProductModelDatasource.php
  pim/src/PcmtDraftBundle/Datasource/OriginalAssociatedProductDatasource.php
  pim/src/PcmtDraftBundle/Datasource/OriginalAssociatedProductModelDatasource.php
  pim/src/PcmtDraftBundle/Resources/config/data_sources.yml
Due: pim docker build (on git push), env-test, env-test (manual), env-test-destroy

#217 - Handling correctly new sub product model draft form
  pim/src/PcmtDraftBundle/Controller/PcmtDraftController.php
  pim/src/PcmtDraftBundle/Normalizer/DraftNormalizer.php
  pim/src/PcmtDraftBundle/Normalizer/ProductDraftNormalizer.php
  pim/src/PcmtDraftBundle/Normalizer/ProductModelDraftNormalizer.php
  pim/src/PcmtDraftBundle/Resources/config/normalizers.yml
  pim/src/PcmtDraftBundle/Resources/public/js/draft/draft_list.js
  pim/src/PcmtDraftBundle/Tests/Normalizer/ProductModelDraftNormalizerTest.php
Due: pim docker build (on git push), env-test, env-test (manual), env-test-destroy

#212, fixes ftp files to uid&gid 1000
  deploy/ftp-get/Dockerfile
  deploy/ftp-get/cmd-to-run.sh
Due: none

212, pass secrets files through to ansible target
  bin/ci-deploy.sh
  deploy/README.md
  deploy/ansible/secrets/.gitignore
  deploy/ansible/secrets/README.md
  deploy/ansible/tasks/pim.yml
  deploy/terraform/run-docker.sh
  deploy/terraform/script/docker-entrypoint.sh
  deploy/terraform/script/pcmt-ansible.sh
Due: ansible docker build, terraform docker build

#132, added missing license header, fixed copyright date.
  deploy/cron/Dockerfile
  deploy/cron/entrypoint.sh
  deploy/mysql-backup/Dockerfile
  deploy/mysql-backup/cmd-to-run.sh
  deploy/s3/Dockerfile
  deploy/s3/cmd-to-run.sh
Due: none

#132, trapped exit code
  deploy/terraform/run-docker.sh
Due: terraform docker build

#132, let trap clean helper container
  deploy/terraform/run-docker.sh
Due: terraform docker build

#223 handling drafts of removed products and product models
  pim/src/PcmtDraftBundle/Datasource/AssociatedProductDatasource.php
  pim/src/PcmtDraftBundle/Datasource/AssociatedProductModelDatasource.php
  pim/src/PcmtDraftBundle/Exception/DraftViolationException.php
  pim/src/PcmtDraftBundle/Normalizer/ProductDraftNormalizer.php
  pim/src/PcmtDraftBundle/Normalizer/ProductModelDraftNormalizer.php
  pim/src/PcmtDraftBundle/Resources/public/templates/draft/draft-list.html
  pim/src/PcmtDraftBundle/Service/Draft/ProductDraftApprover.php
  pim/src/PcmtDraftBundle/Service/Draft/ProductFromDraftCreator.php
  pim/src/PcmtDraftBundle/Service/Draft/ProductModelDraftApprover.php
  pim/src/PcmtDraftBundle/Service/Draft/ProductModelFromDraftCreator.php
Due: pim docker build (on git push), env-test, env-test (manual), env-test-destroy

#226 hide jobs on frontend
  pim/src/PcmtCoreBundle/Resources/config/jobs.yml
  pim/src/PcmtCustomDatasetBundle/Resources/fixtures/pcmt_global/jobs.yml
Due: pim docker build (on git push), env-test, env-test (manual), env-test-destroy

#219 channel codes changed
  pim/src/PcmtCustomDatasetBundle/Resources/fixtures/pcmt_global/channels.csv
  pim/src/PcmtCustomDatasetBundle/Resources/fixtures/pcmt_global/import_files/2019-11-29/5_families.xlsx
  pim/src/PcmtCustomDatasetBundle/Resources/fixtures/pcmt_global/jobs.yml
  pim/src/PcmtCustomDatasetBundle/Resources/fixtures/pcmt_global/users.csv
Due: pim docker build (on git push), env-test, env-test (manual), env-test-destroy

Resolve "concatenated attributes not saving correctly"
  pim/src/PcmtCoreBundle/Extension/Command/AbstractUpdateCommand.php
  pim/src/PcmtCoreBundle/Extension/Factory/PcmtCommandFactory.php
  pim/src/PcmtCoreBundle/Extension/PcmtAttributeManager.php
  pim/src/PcmtCoreBundle/Resources/config/services.yml
  pim/src/PcmtCoreBundle/Resources/config/updaters.yml
  pim/src/PcmtCoreBundle/Tests/Updater/AttributeUpdaterTest.php
  pim/src/PcmtCoreBundle/Updater/AttributeUpdater.php
Due: pim docker build (on git push), env-test, env-test (manual), env-test-destroy

#215 Import products via draft system
  pim/src/PcmtDraftBundle/Connector/Job/Step/PcmtImportViaDraftStep.php
  pim/src/PcmtDraftBundle/Connector/Job/Writer/Database/PcmtDraftProductWriter.php
  pim/src/PcmtDraftBundle/DependencyInjection/PcmtDraftExtension.php
  pim/src/PcmtDraftBundle/Resources/config/steps.yml
  pim/src/PcmtDraftBundle/Resources/config/writers.yml
Due: pim docker build (on git push), env-test, env-test (manual), env-test-destroy

#214 Resolve "Background job to find new incoming GDSN files, and process them"
  .gitignore
  conf/parameters.yml.dist
  docker-compose.dev.yml
  pim/Dockerfile
  pim/app/config/config.yml
  pim/crontab
  pim/docker/pim/cronRun.sh
  pim/docker/pim/start.sh
  pim/src/PcmtCoreBundle/Command/ProcessE2OpenImport.php
  pim/src/PcmtCoreBundle/Connector/Job/E2OpenFromXmlTasklet.php
  pim/src/PcmtCoreBundle/Connector/Job/JobParameters/ConstraintCollectionProvider/E2OpenImport.php
  pim/src/PcmtCoreBundle/Connector/Job/JobParameters/DefaultValueProvider/E2OpenImport.php
  pim/src/PcmtCoreBundle/Resources/config/services.yml
  pim/src/PcmtCustomDatasetBundle/Resources/fixtures/pcmt_global/jobs.yml
Due: pim docker build (on git push), env-test, env-test (manual), env-test-destroy

#225 Resolve "Reference data values are not automatically in the system."
  .gitignore
  pim/docker/pim/start.sh
  pim/src/PcmtCoreBundle/Command/Handler/PcmtReferenceDataDownloadHandler.php
  pim/src/PcmtCoreBundle/Command/Handler/PcmtReferenceDataImportHandler.php
  pim/src/PcmtCoreBundle/Command/InitializeReferenceDataImport.php
  pim/src/PcmtCoreBundle/Command/ReadConfigHelperCommand.php
  pim/src/PcmtCoreBundle/JobParameters/DefaultValueProvider/XmlReferenceDataDownload.php
  pim/src/PcmtCoreBundle/JobParameters/DefaultValueProvider/XmlReferenceDataImport.php
  pim/src/PcmtCoreBundle/Resources/config/handlers.yml
  pim/src/PcmtCoreBundle/Resources/config/services.yml
  pim/src/PcmtCoreBundle/Resources/fixtures/20191010.cin.from.stew (another copy).xml
  pim/src/PcmtCoreBundle/Resources/fixtures/20191010.cin.from.stew (copy).xml
  pim/src/PcmtCoreBundle/Resources/fixtures/20191010.cin.from.stew.xml
  pim/src/PcmtCoreBundle/Resources/reference_data/gs1Codes/AdditionalTradeItemClassificationCodeListCode.xml
  pim/src/PcmtCoreBundle/Resources/reference_data/gs1Codes/AdditionalTradeItemIdentificationTypeCode.xml
  pim/src/PcmtCoreBundle/Resources/reference_data/gs1Codes/ColourCodeListCode.xml
  pim/src/PcmtCoreBundle/Resources/reference_data/gs1Codes/CountryCode.xml
  pim/src/PcmtCoreBundle/Resources/reference_data/gs1Codes/DataCarrierTypeCode.xml
  pim/src/PcmtCoreBundle/Resources/reference_data/gs1Codes/GS1TradeItemIdentificationKeyTypeCode.xml
  pim/src/PcmtCoreBundle/Resources/reference_data/gs1Codes/ImportClassificationTypeCode.xml
  pim/src/PcmtCoreBundle/Resources/reference_data/gs1Codes/MeasurementUnitCode_GDSN.xml
  pim/src/PcmtCoreBundle/Resources/reference_data/gs1Codes/NonfoodIngredientOfConcernCode.xml
  pim/src/PcmtCoreBundle/Resources/reference_data/gs1Codes/PackageTypeCode.xml
  pim/src/PcmtCoreBundle/Resources/reference_data/gs1Codes/PlatformTypeCode.xml
  pim/src/PcmtCoreBundle/Resources/reference_data/gs1Codes/ReferencedFileTypeCode.xml
  pim/src/PcmtCoreBundle/Resources/reference_data/gs1Codes/RegulationTypeCode.xml
  pim/src/PcmtCoreBundle/Resources/reference_data/gs1Codes/ShippingContainerTypeCode.xml
  pim/src/PcmtCoreBundle/Resources/reference_data/gs1Codes/SizeCodeListCode.xml
  pim/src/PcmtCoreBundle/Resources/reference_data/gs1Codes/TemperatureQualifierCode.xml
  pim/src/PcmtCoreBundle/Resources/reference_data/gs1Codes/TradeItemUnitDescriptorCode.xml
  pim/src/PcmtCoreBundle/Step/ImportRefDataFiles.php
  pim/src/PcmtCustomDatasetBundle/Command/NewDatabaseCommand.php
  pim/src/PcmtCustomDatasetBundle/Resources/fixtures/pcmt_global/jobs.yml
Due: pim docker build (on git push), env-test, env-test (manual), env-test-destroy

#215 - handling importing new product variants
  pim/src/PcmtDraftBundle/Connector/Job/Writer/Database/PcmtDraftProductWriter.php
  pim/src/PcmtDraftBundle/Resources/config/writers.yml
Due: pim docker build (on git push), env-test, env-test (manual), env-test-destroy

#229 - removed bulk edit for draft with removed product or product model
  pim/src/PcmtDraftBundle/Resources/public/templates/draft/draft-list.html
Due: pim docker build (on git push), env-test, env-test (manual), env-test-destroy

#212, restrict files to download to catalog item notifications
  deploy/ftp-get/list-files.ftpbatch
Due: none

#212, fixes bug downloading multiple xml files.
  deploy/ftp-get/cmd-to-run.sh
Due: none

#212, removed creation of remote archive directory
  deploy/ftp-get/cmd-to-run.sh
Due: none

Path conditions:
  pim docker build (on git push): any of: pim/**/*, .env, docker-compose.yml
  ansible docker build: any of: deploy/ansible/**/*
  terraform docker build: any of: deploy/terraform/**/*
  env-test: any of: pim/**/*, .env, docker-compose.yml
  env-test (manual): any of: pim/**/*, .env, docker-compose.yml
  env-test-destroy: any of: pim/**/*, .env, docker-compose.yml
