Repository software4health/PCMT: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pim docker build, ansible docker build, terraform docker build

.gitlab-ci.yml:

image: docker:stable

stages:
  - build
  - deploy

services:
  - docker:dind

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_DRIVER: overlay2

before_script:
  - docker info
  - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASS

pim docker build:
  stage: build
  only:
    refs:
      - master@pcmt/pcmt
    changes:
      - docker/**/*
  script: 
    - cd docker
    - "./build-images.sh pcmt"
    - docker push pcmt/pcmt:latest
    - docker push pcmt/httpd:latest

ansible docker build:
  stage: build
  only:
    refs:
      - master@pcmt/pcmt
    changes:
      - deploy/ansible/**/*
  script:
    - cd deploy/ansible
    - ./build.sh
    - docker push pcmt/ansible:latest

terraform docker build:
  stage: build
  only:
    refs:
      - master@pcmt/pcmt
    changes:
      - deploy/terraform/**/*
  script:
    - cd deploy/terraform
    - ./build.sh
    - docker push pcmt/terraform:latest

deploy dev:
  stage: deploy
  only:
    - master@pcmt/pcmt
  when: manual
  environment:
    name: dev
    url: http://dev.pcmt.villagereach.org
  script:
    - ./deploy/terraform/run-docker.sh dev apply -auto-approve

50, add initial cdtest environment
  deploy/README.md
  deploy/terraform/cd-test/main.tf
  deploy/terraform/cd-test/terraform.tfvars
  deploy/terraform/cd-test/variables.tf
  deploy/terraform/modules/pcmt-network/main.tf
  deploy/terraform/modules/pcmt-network/network.tf
  deploy/terraform/modules/pcmt-network/outputs.tf
  deploy/terraform/modules/pcmt-network/variables.tf
  deploy/terraform/modules/pcmt/compute.tf
  deploy/terraform/modules/pcmt/network.tf
  deploy/terraform/modules/pcmt/secret.tf
  deploy/terraform/pcmt-network-dev/main.tf
  deploy/terraform/pcmt-network-dev/outputs.tf
  deploy/terraform/pcmt-network-dev/terraform.tfvars
  deploy/terraform/pcmt-network-dev/variables.tf
Due: terraform docker build

#50, add option to start without clearing database
  .env
  docker-compose.yml
  docker/pim/start.sh
  settings.env
Due: pim docker build

#50, allow profile variable to be passed through environment
  docker-compose.yml
Due: none

#50, correct ssh key passing when docker is used from inside docker
  deploy/ansible/Dockerfile
  deploy/ansible/docker-entrypoint.sh
  deploy/terraform/run-docker.sh
  deploy/terraform/script/pcmt-ansible.sh
Due: ansible docker build, terraform docker build

#50, restart services and pull new settings file
  deploy/ansible/tasks/pim.yml
Due: ansible docker build

#50, add cd-test environment for testing gitlab
  .gitlab-ci.yml
Due: none

#50, fix formatting of yml
  .gitlab-ci.yml
Due: none

#50, ensure ansible job is always run from terraform
  deploy/terraform/modules/pcmt/compute.tf
Due: terraform docker build

#50, pass PCMT_PROFILE through to ansible
  deploy/ansible/docker-entrypoint.sh
  deploy/ansible/tasks/pim.yml
  deploy/terraform/run-docker.sh
  deploy/terraform/script/pcmt-ansible.sh
Due: ansible docker build, terraform docker build

#50, add PCMT_PROFILE for setting or clearing db through manual jobs
  .gitlab-ci.yml
Due: none

#50, add PCMT_PROFILE to dev instance
  .gitlab-ci.yml
Due: none

#50, add documentation for CD, Terraform and Ansible.
  deploy/README.md
  deploy/ansible/README.md
  deploy/ansible/console.sh
  deploy/ansible/run.sh
  deploy/terraform/README.md
Due: ansible docker build, terraform docker build

#50, shorten deploy job names
  .gitlab-ci.yml
Due: none

#50, attempt to add stop job to cd-test env
  .gitlab-ci.yml
Due: none

#50, fix gitlab-ci yaml syntax
  .gitlab-ci.yml
Due: none

Add ADR 5
  doc/arch/README.md
Due: none

#16, add ADR 6 for open source license and IP
  doc/arch/adr-006.md
Due: none

#16, update ADR 6 to cc-by-nc-sa
  doc/arch/adr-006.md
Due: none

#16, change to use CC-BY-SA and remove confusing NPOSL sentence.
  doc/arch/adr-006.md
Due: none

#16, add links for OSD and PDD
  doc/arch/adr-006.md
Due: none

#16, add link to ADR 6
  doc/arch/README.md
Due: none

#16, move license to NP-OSL v3 and CC BY-SA v4.
  COPYRIGHT.md
  LICENSE
  README.md
Due: none

#16, add license howto file
  README.md
  doc/license-howto.md
Due: none

#16, update most project files to include license and copyright notice
  .gitlab-ci.yml
  README.md
  deploy/README.md
  deploy/ansible/Dockerfile
  deploy/ansible/README.md
  deploy/ansible/build.sh
  deploy/ansible/docker-entrypoint.sh
  deploy/ansible/playbook.yml
  deploy/terraform/Dockerfile
  deploy/terraform/README.md
  deploy/terraform/build.sh
  deploy/terraform/cd-test/main.tf
  deploy/terraform/dev/main.tf
  deploy/terraform/modules/pcmt-network/network.tf
  deploy/terraform/modules/pcmt-network/outputs.tf
  deploy/terraform/modules/pcmt/compute.tf
  deploy/terraform/modules/pcmt/network.tf
  deploy/terraform/pcmt-network-dev/main.tf
  deploy/terraform/pcmt-network-dev/outputs.tf
  deploy/terraform/run-docker.sh
  deploy/terraform/script/docker-entrypoint.sh
  deploy/terraform/script/pcmt-ansible.sh
  doc/arch/README.md
  doc/arch/adr-001.md
  doc/arch/adr-002.md
  doc/arch/adr-003.md
  doc/arch/adr-004.md
  doc/arch/adr-005.md
  doc/arch/adr-006.md
  doc/license-howto.md
  docker/build-images.sh
  docker/httpd/Dockerfile
  docker/pim/Dockerfile
  docker/pim/start.sh
  docker/pim/wait.sh
Due: pim docker build, ansible docker build, terraform docker build

#16, mark adr 6 as accepted.
  doc/arch/adr-006.md
Due: none

#85, draft project mgmt template
  ProjMgmt.md
Due: none

#85, move to correct gitlab folder
  .gitlab/issue_templates/ProjMgmt.md
Due: none

#85, fill in PM issue template with more
  .gitlab/issue_templates/ProjMgmt.md
  .gitlab/issue_templates/ProjectManagement.md
Due: none

#51, switch to docker compose image in CI to allow for change in build
  .gitlab-ci.yml
Due: none

#51, fix gitlab-ci path for pim build
  .gitlab-ci.yml
Due: none

#51, add manual CI retry to pim build
  .gitlab-ci.yml
Due: none

#51, rename staging to test, and provide manual re-deployment option
  .gitlab-ci.yml
Due: none

#51, shift only section so that manual job creation is always an option
  .gitlab-ci.yml
Due: none

#51, update TF env to "test"
  deploy/terraform/staging/terraform.tfvars
  deploy/terraform/test/main.tf
  deploy/terraform/test/terraform.tfvars
  deploy/terraform/test/variables.tf
Due: terraform docker build

#51, bind mount src directory into node container for dev
  docker-compose.dev.yml
Due: none

#51, switch to using composer install
  pim/docker/pim/cpFromTmp.sh
Due: none

#51, remove old cruft not needed as we'll start the container the same
  pim/docker/pim/start.sh
Due: none

#51, update dockerfile to use composer install also
  pim/Dockerfile
Due: none

#51, fix development instruction
  README.md
Due: none
