Repository software4health/PCMT: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pim docker build (on git push), pim_erd, ansible docker build, terraform docker build, cron docker build, mysql-backup docker build, s3 docker build, ftp-get docker build, scalyr docker build, env-test, env-test-destroy

Path conditions:
  pim docker build (on git push): any of: .gitlab-ci.yml, pim/**/*, .env, conf/**/*, docker-compose.yml, docker-compose.tls.yml, docker-compose.prod.yml
  pim_erd: any of: .gitlab-ci.yml, pim/**/*, .env, conf/**/*, docker-compose.yml, docker-compose.tls.yml, docker-compose.prod.yml
  ansible docker build: any of: deploy/ansible/**/*
  terraform docker build: any of: deploy/terraform/**/*
  cron docker build: (any of: deploy/cron/**/*) and (not (any of: deploy/mysql-backup/**/*))
  mysql-backup docker build: any of: deploy/mysql-backup/**/*, deploy/cron/**/*
  s3 docker build: any of: deploy/s3/**/*, deploy/cron/**/*
  ftp-get docker build: any of: deploy/ftp-get/**/*, deploy/cron/**/*
  scalyr docker build: any of: deploy/scalyr/**/*
  env-test: any of: .gitlab-ci.yml, pim/**/*, .env, conf/**/*, docker-compose.yml, docker-compose.tls.yml, docker-compose.prod.yml
  env-test-destroy: any of: .gitlab-ci.yml, pim/**/*, .env, conf/**/*, docker-compose.yml, docker-compose.tls.yml, docker-compose.prod.yml

Change temporarily purging old job executions after one day
  pim/crontab
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#781 destination attribute filtering
  pim/src/PcmtRulesBundle/Resources/public/js/fetcher/attributes-for-f2f-mapping.js
  pim/src/PcmtRulesBundle/Resources/public/js/job/rules/edit/attribute-mapping.js
  pim/src/PcmtRulesBundle/Resources/public/templates/job/rules/edit/attribute-mapping.html
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#789 Label in drafts view
  pim/src/PcmtDraftBundle/Normalizer/ProductDraftNormalizer.php
  pim/src/PcmtDraftBundle/Normalizer/ProductModelDraftNormalizer.php
  pim/src/PcmtDraftBundle/Resources/config/normalizers.yml
  pim/src/PcmtDraftBundle/Resources/public/templates/draft/draft-list.html
  pim/src/PcmtDraftBundle/Resources/translations/jsmessages.en_US.yml
  pim/src/PcmtDraftBundle/Resources/translations/jsmessages.fr_FR.yml
  pim/src/PcmtDraftBundle/Tests/Normalizer/ProductDraftNormalizerTest.php
  pim/src/PcmtDraftBundle/Tests/Normalizer/ProductModelDraftNormalizerTest.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#805 Product changes in log
  pim/phpunit.xml.dist
  pim/src/PcmtRulesBundle/DependencyInjection/PcmtRulesExtension.php
  pim/src/PcmtRulesBundle/Event/ProductChangedEvent.php
  pim/src/PcmtRulesBundle/Event/ProductModelChangedEvent.php
  pim/src/PcmtRulesBundle/Listener/LoggerSubscriber.php
  pim/src/PcmtRulesBundle/Resources/config/event_listeners.yml
  pim/src/PcmtRulesBundle/Resources/config/services.yml
  pim/src/PcmtRulesBundle/Service/RuleProcessorCopier.php
  pim/src/PcmtRulesBundle/Tests/Listener/LoggerSubscriberTest.php
  pim/src/PcmtRulesBundle/Tests/Service/RuleProcessorCopierTest.php
  pim/src/PcmtRulesBundle/Tests/TestDataBuilder/ProductChangedEventBuilder.php
  pim/src/PcmtRulesBundle/Tests/TestDataBuilder/ProductModelChangedEventBuilder.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#807 UI clarifications
  pim/src/PcmtRulesBundle/FunctionalTests/features/selenium/11_create_select_options_rule.feature
  pim/src/PcmtRulesBundle/FunctionalTests/features/selenium/21_create_family_to_family_rule.feature
  pim/src/PcmtRulesBundle/FunctionalTests/features/selenium/31_create_pull_images_rule.feature
  pim/src/PcmtRulesBundle/Resources/config/form_extensions/job_instance/pcmt_rules_copy_products_job_edit.yml
  pim/src/PcmtRulesBundle/Resources/config/form_extensions/job_instance/pcmt_rules_family_to_family_job_edit.yml
  pim/src/PcmtRulesBundle/Resources/config/requirejs.yml
  pim/src/PcmtRulesBundle/Resources/public/templates/job/rules/family-copy-by-association-description.html
  pim/src/PcmtRulesBundle/Resources/public/templates/job/rules/family-copy-by-attribute-description.html
  pim/src/PcmtRulesBundle/Resources/translations/jsmessages.en_US.yml
  pim/src/PcmtRulesBundle/Resources/translations/jsmessages.fr_FR.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#804 type conversion text - select
  pim/src/PcmtRulesBundle/Resources/config/services.yml
  pim/src/PcmtRulesBundle/Resources/public/js/job/rules/edit/attribute-mapping.js
  pim/src/PcmtRulesBundle/Service/DifferentTypesAttributeCopier.php
  pim/src/PcmtRulesBundle/Tests/Service/DifferentTypesAttributeCopierTest.php
  pim/src/PcmtRulesBundle/Validators/CorrectAttributeMappingConstraintValidator.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#811 attribute mapping in copy by associations rule - defining
  pim/src/PcmtRulesBundle/Connector/Job/ConstraintCollectionProvider/CopyProductsConstraintCollectionProvider.php
  pim/src/PcmtRulesBundle/Connector/Job/DefaultValueProvider/CopyProductsDefaultValueProvider.php
  pim/src/PcmtRulesBundle/Connector/Job/Step/CopyProductsRuleStep.php
  pim/src/PcmtRulesBundle/Resources/config/form_extensions/job_instance/pcmt_rules_copy_products_job_edit.yml
  pim/src/PcmtRulesBundle/Resources/translations/jsmessages.en_US.yml
  pim/src/PcmtRulesBundle/Resources/translations/jsmessages.fr_FR.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#806 attribute mapping in script - copy by association
  pim/src/PcmtRulesBundle/Connector/Job/Step/CopyProductsRuleStep.php
  pim/src/PcmtRulesBundle/Connector/Job/Step/FamilyToFamilyStep.php
  pim/src/PcmtRulesBundle/Resources/config/services.yml
  pim/src/PcmtRulesBundle/Resources/config/steps.yml
  pim/src/PcmtRulesBundle/Service/AttributeMappingGenerator.php
  pim/src/PcmtRulesBundle/Service/CopyProductsRule/CopyProductToProductModel.php
  pim/src/PcmtRulesBundle/Service/CopyProductsRule/CopyProductsRuleProcessor.php
  pim/src/PcmtRulesBundle/Service/JobParametersTextCreator.php
  pim/src/PcmtRulesBundle/Service/RuleProcessor.php
  pim/src/PcmtRulesBundle/Service/RuleProcessorCopier.php
  pim/src/PcmtRulesBundle/Tests/Connector/Job/Step/CopyProductsRuleStepTest.php
  pim/src/PcmtRulesBundle/Tests/Connector/Job/Step/FamilyToFamilyStepTest.php
  pim/src/PcmtRulesBundle/Tests/Service/AttributeMappingGeneratorTest.php
  pim/src/PcmtRulesBundle/Tests/Service/CopyProductsRule/CopyProductToProductModelTest.php
  pim/src/PcmtRulesBundle/Tests/Service/CopyProductsRule/CopyProductsRuleProcessorTest.php
  pim/src/PcmtRulesBundle/Tests/Service/JobParametersTextCreatorTest.php
  pim/src/PcmtRulesBundle/Tests/Service/RuleProcessorCopierTest.php
  pim/src/PcmtRulesBundle/Tests/Service/RuleProcessorTest.php
  pim/src/PcmtRulesBundle/Tests/TestDataBuilder/AttributeMappingCollectionBuilder.php
  pim/src/PcmtRulesBundle/Value/AttributeMappingCollection.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#780 Mapping in Family2Family - key attribute mapped - ecs
  docker-compose.dev.yml
  pim/src/PcmtRulesBundle/Connector/Job/ConstraintCollectionProvider/FamilyToFamilyConstraintCollectionProvider.php
  pim/src/PcmtRulesBundle/Connector/Job/DefaultValueProvider/FamilyToFamilyDefaultValueProvider.php
  pim/src/PcmtRulesBundle/Constraints/CorrectKeyAttributeConstraint.php
  pim/src/PcmtRulesBundle/Controller/AttributeController.php
  pim/src/PcmtRulesBundle/Resources/config/form_extensions/job_instance/pcmt_rules_family_to_family_job_edit.yml
  pim/src/PcmtRulesBundle/Resources/config/requirejs.yml
  pim/src/PcmtRulesBundle/Resources/config/services.yml
  pim/src/PcmtRulesBundle/Resources/public/js/job/field/key-attribute-select.js
  pim/src/PcmtRulesBundle/Resources/public/templates/job/field/multiple-select.html
  pim/src/PcmtRulesBundle/Resources/translations/jsmessages.en_US.yml
  pim/src/PcmtRulesBundle/Resources/translations/jsmessages.fr_FR.yml
  pim/src/PcmtRulesBundle/Service/AttributeMappingGenerator.php
  pim/src/PcmtRulesBundle/Service/RuleAttributeProvider.php
  pim/src/PcmtRulesBundle/Service/RuleProcessor.php
  pim/src/PcmtRulesBundle/Tests/Service/AttributeMappingGeneratorTest.php
  pim/src/PcmtRulesBundle/Tests/Service/RuleAttributeProviderTest.php
  pim/src/PcmtRulesBundle/Tests/Service/RuleProcessorTest.php
  pim/src/PcmtRulesBundle/Tests/TestDataBuilder/CorrectKeyAttributeConstraintBuilder.php
  pim/src/PcmtRulesBundle/Tests/Validators/CorrectKeyAttributeConstraintValidatorTest.php
  pim/src/PcmtRulesBundle/Validators/CorrectKeyAttributeConstraintValidator.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#810 changes - adjustments to akeneo 5
  pim/src/PcmtRulesBundle/Resources/config/controllers.yml
  pim/src/PcmtRulesBundle/Resources/config/services.yml
  pim/src/PcmtRulesBundle/Resources/translations/jsmessages.en_US.yml
  pim/src/PcmtRulesBundle/Resources/translations/jsmessages.fr_FR.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#816 key attribute mapping used in filling the data
  pim/src/PcmtRulesBundle/Service/RuleProcessor.php
  pim/src/PcmtRulesBundle/Tests/Service/RuleProcessorTest.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#815 Labels in "Family copy by attribute" rule and attribute mapping
  pim/src/PcmtRulesBundle/Resources/config/form_extensions/job_instance/pcmt_rules_family_to_family_job_edit.yml
  pim/src/PcmtRulesBundle/Resources/public/js/job/field/key-attribute-select.js
  pim/src/PcmtRulesBundle/Resources/public/js/job/rules/edit/attribute-mapping.js
  pim/src/PcmtRulesBundle/Resources/public/templates/job/field/multiple-select.html
  pim/src/PcmtRulesBundle/Resources/public/templates/job/rules/edit/attribute-mapping.html
  pim/src/PcmtRulesBundle/Resources/translations/jsmessages.en_US.yml
  pim/src/PcmtRulesBundle/Resources/translations/jsmessages.fr_FR.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#822, add opendata instance
  .gitlab-ci.yml
  deploy/terraform/opendata/main.tf
  deploy/terraform/opendata/terraform.tfvars
  deploy/terraform/opendata/variables.tf
Due: pim docker build (on git push), pim_erd, terraform docker build, env-test, env-test-destroy

#804 Key attribute Mapping - type conversion from text to select
  pim/src/PcmtRulesBundle/Resources/config/services.yml
  pim/src/PcmtRulesBundle/Service/AttributeMappingTypesChecker.php
  pim/src/PcmtRulesBundle/Tests/Service/AttributeMappingTypesCheckerTest.php
  pim/src/PcmtRulesBundle/Tests/Validators/CorrectAttributeMappingConstraintValidatorTest.php
  pim/src/PcmtRulesBundle/Tests/Validators/CorrectKeyAttributeConstraintValidatorTest.php
  pim/src/PcmtRulesBundle/Validators/CorrectAttributeMappingConstraintValidator.php
  pim/src/PcmtRulesBundle/Validators/CorrectKeyAttributeConstraintValidator.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#817 fix for key attribute
  pim/src/PcmtRulesBundle/Resources/public/js/job/field/key-attribute-select.js
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#733 GFPVAN - PCMT 2.0.2 Stable - gdsn cis message for three different products incorrectly populated in the table attribute together
  pim/src/PcmtCoreBundle/Service/E2Open/PackagingHierarchyProcessor.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

PCMT-912, create zambia instance
  .gitlab-ci.yml
  deploy/terraform/zambia/main.tf
  deploy/terraform/zambia/terraform.tfvars
  deploy/terraform/zambia/variables.tf
Due: pim docker build (on git push), pim_erd, terraform docker build, env-test, env-test-destroy

#920, increase root volume size on demo
  deploy/terraform/demo/terraform.tfvars
Due: terraform docker build

#920, bump demo to 40gb
  deploy/terraform/demo/terraform.tfvars
Due: terraform docker build

920, increase size of gfpvan to 40gb
  deploy/terraform/gfpvan/terraform.tfvars
Due: terraform docker build

#929, change BillTo tag to project specific gfpvan
  deploy/terraform/gfpvan-uat/terraform.tfvars
  deploy/terraform/gfpvan/terraform.tfvars
Due: terraform docker build

#929, add project specific tag gfpvan
  deploy/terraform/Dockerfile
  deploy/terraform/gfpvan-network-useast/main.tf
  deploy/terraform/gfpvan-network-useast/terraform.tfvars
Due: terraform docker build

#929, bump aws provider version constraint
  deploy/terraform/modules/pcmt-network/main.tf
  deploy/terraform/modules/pcmt-network/network.tf
  deploy/terraform/pcmt-network-dev/main.tf
  deploy/terraform/pcmt-network-useast/main.tf
Due: terraform docker build

#961, add DDCC instance
  .gitlab-ci.yml
  deploy/terraform/ddcc/main.tf
  deploy/terraform/ddcc/terraform.tfvars
  deploy/terraform/ddcc/variables.tf
Due: pim docker build (on git push), pim_erd, terraform docker build, env-test, env-test-destroy

#989, add log section to readme
  README.md
Due: none

#992, add scp-put image
  .gitlab-ci.yml
  Makefile
  conf/scp-creds.dist
  deploy/scp-put/Dockerfile
  deploy/scp-put/README.md
  deploy/scp-put/cmd-to-run.sh
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#1000, add filters-column.ts patch to fix build.
  pim/Dockerfile
  pim/composer.json
  pim/composer.lock
  pim/docker-compose.yml
  pim/patches/filters-column.ts.patch
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#1106, remove expired LE root, update sury cert
  pim/Dockerfile
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#11112, add malawi IL test server, and Sec group
  deploy/README.md
  deploy/terraform/malawi-iltest/main.tf
  deploy/terraform/malawi-iltest/terraform.tfvars
  deploy/terraform/malawi-iltest/variables.tf
  deploy/terraform/modules/pcmt-network/network.tf
  deploy/terraform/modules/pcmt-network/outputs.tf
  deploy/terraform/pcmt-network-useast/main.tf
  deploy/terraform/pcmt-network-useast/outputs.tf
  deploy/terraform/run-docker.sh
Due: terraform docker build

#1122, add package resolution for react 16.
  pim/package.json
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#1110, move dataset configuration to param file
  conf/parameters.yml.dist
  pim/app/config/config.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#1112, unblock port 8080 for backend
  deploy/terraform/modules/pcmt-network/network.tf
Due: terraform docker build

#1127, add yarn.lock from 2.4.0-snapshot
  Makefile
  README.md
  docker-compose.dev.yml
  pim/Dockerfile
  pim/yarn.lock
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#1087, add FHIR Bundle and start of FHIR attribute mapping for Product and Item
  pim/app/AppKernel.php
  pim/app/config/routing.yml
  pim/app/config/security.yml
  pim/composer.json
  pim/src/FhirBundle/Controller/ExternalApi/FhirProductController.php
  pim/src/FhirBundle/Controller/ExternalApi/FhirProductModelController.php
  pim/src/FhirBundle/Controller/FhirController.php
  pim/src/FhirBundle/DependencyInjection/FhirExtension.php
  pim/src/FhirBundle/Entity/FhirMapping.php
  pim/src/FhirBundle/FhirBundle.php
  pim/src/FhirBundle/Normalizer/ExternalApi/ConnectorProductModelNormalizer.php
  pim/src/FhirBundle/Normalizer/ExternalApi/ConnectorProductNormalizer.php
  pim/src/FhirBundle/Repository/FhirMappingRepository.php
  pim/src/FhirBundle/Resources/config/controllers.yml
  pim/src/FhirBundle/Resources/config/doctrine/FhirMapping.orm.yml
  pim/src/FhirBundle/Resources/config/entities.yml
  pim/src/FhirBundle/Resources/config/form_extensions.yml
  pim/src/FhirBundle/Resources/config/form_extensions/attribute/edit.yml
  pim/src/FhirBundle/Resources/config/normalizers.yml
  pim/src/FhirBundle/Resources/config/requirejs.yml
  pim/src/FhirBundle/Resources/config/routing.yml
  pim/src/FhirBundle/Resources/config/routing/fhir_mapping.yml
  pim/src/FhirBundle/Resources/config/routing/product.yml
  pim/src/FhirBundle/Resources/config/routing/product_model.yml
  pim/src/FhirBundle/Resources/config/services.yml
  pim/src/FhirBundle/Resources/public/js/attributes/form/tab/additional.js
  pim/src/FhirBundle/Resources/public/templates/attributes/tab/additional.html
  pim/src/FhirBundle/Resources/translations/jsmessages.en_US.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#1089 Get item/id
  pim/src/FhirBundle/Resources/config/routing/product.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#1086 FHIR Get Product/id
  pim/src/FhirBundle/Resources/config/routing/product_model.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#1136 Fhir popup save fix
  pim/src/FhirBundle/Resources/config/form_extensions/attribute/edit.yml
  pim/src/FhirBundle/Resources/public/js/attributes/form/tab/additional.js
  pim/src/FhirBundle/Resources/public/templates/attributes/tab/additional.html
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy
