Repository software4health/PCMT: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pim docker build (on git push), pim_erd, ansible docker build, terraform docker build, cron docker build, mysql-backup docker build, s3 docker build, ftp-get docker build, scalyr docker build, env-test, env-test-destroy

Path conditions:
  pim docker build (on git push): any of: .gitlab-ci.yml, pim/**/*, .env, conf/**/*, docker-compose.yml, docker-compose.tls.yml, docker-compose.prod.yml
  pim_erd: any of: .gitlab-ci.yml, pim/**/*, .env, conf/**/*, docker-compose.yml, docker-compose.tls.yml, docker-compose.prod.yml
  ansible docker build: any of: deploy/ansible/**/*
  terraform docker build: any of: deploy/terraform/**/*
  cron docker build: (any of: deploy/cron/**/*) and (not (any of: deploy/mysql-backup/**/*))
  mysql-backup docker build: any of: deploy/mysql-backup/**/*, deploy/cron/**/*
  s3 docker build: any of: deploy/s3/**/*, deploy/cron/**/*
  ftp-get docker build: any of: deploy/ftp-get/**/*, deploy/cron/**/*
  scalyr docker build: any of: deploy/scalyr/**/*
  env-test: any of: .gitlab-ci.yml, pim/**/*, .env, conf/**/*, docker-compose.yml, docker-compose.tls.yml, docker-compose.prod.yml
  env-test-destroy: any of: .gitlab-ci.yml, pim/**/*, .env, conf/**/*, docker-compose.yml, docker-compose.tls.yml, docker-compose.prod.yml

#580 fix for validation when creating a rule
  pim/src/PcmtRulesBundle/Constraints/AttributeExistsInBothFamiliesConstraintValidator.php
  pim/src/PcmtRulesBundle/Entity/Rule.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

fix
  pim/src/PcmtRulesBundle/Constraints/AttributeExistsInBothFamiliesConstraintValidator.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#460, resolves issue with symfony not trusting the upstream proxy
  docker-compose.tls.yml
  pim/Dockerfile
  pim/crontab
  pim/docker/pim/start.sh
  pim/docker/pim/write-env-reverse-proxy.sh
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#579 Processing rule step and service
  pim/src/PcmtCoreBundle/Resources/config/routing.yml
  pim/src/PcmtRulesBundle/Connector/Job/Step/RuleProcessStep.php
  pim/src/PcmtRulesBundle/Resources/config/services.yml
  pim/src/PcmtRulesBundle/Resources/config/steps.yml
  pim/src/PcmtRulesBundle/Service/RuleProductProcessor.php
  pim/src/PcmtRulesBundle/Tests/Service/RuleProductProcessorTest.php
  pim/src/PcmtRulesBundle/Tests/TestDataBuilder/ProductBuilder.php
  pim/src/PcmtRulesBundle/Tests/TestDataBuilder/RuleBuilder.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

fix
  pim/src/PcmtCoreBundle/Resources/config/routing.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#460, move pim filesystem to shared volume
  docker-compose.dev.yml
  docker-compose.yml
  pim/Dockerfile
  pim/docker-compose.yml
  pim/docker/pim/start.sh
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

fix for problems with creating products/models/variants
  pim/src/PcmtCoreBundle/Resources/config/routing.yml
  pim/src/PcmtRulesBundle/Resources/config/form_extensions/rules/create.yml
  pim/src/PcmtRulesBundle/Resources/config/form_extensions/rules/edit.yml
  pim/src/PcmtRulesBundle/Resources/config/requirejs.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#579 Processing a rule - handling product models
  pim/src/PcmtRulesBundle/Connector/Job/Step/RuleProcessStep.php
  pim/src/PcmtRulesBundle/Resources/config/services.yml
  pim/src/PcmtRulesBundle/Service/RuleProductProcessor.php
  pim/src/PcmtRulesBundle/Tests/Service/RuleProductProcessorTest.php
  pim/src/PcmtRulesBundle/Tests/TestDataBuilder/ProductBuilder.php
  pim/src/PcmtRulesBundle/Tests/TestDataBuilder/ProductModelBuilder.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

changelog and removing rules bundle
  CHANGELOG.md
  pim/app/AppKernel.php
  pim/app/config/routing.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

release 2.0.3
  .env
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

version 2.1.0 snapshot
  .env
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

promote demo to v2.0.3
  .gitlab-ci.env-demo.yml
Due: none

rules bundle come back
  pim/app/AppKernel.php
  pim/app/config/routing.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#623 rules - constraint for different families
  pim/phpunit.xml.dist
  pim/src/PcmtRulesBundle/Constraints/DifferentFamilyConstraint.php
  pim/src/PcmtRulesBundle/Entity/Rule.php
  pim/src/PcmtRulesBundle/Resources/config/services.yml
  pim/src/PcmtRulesBundle/Resources/config/validation/rule.yml
  pim/src/PcmtRulesBundle/Tests/TestDataBuilder/DifferentFamilyConstraintBuilder.php
  pim/src/PcmtRulesBundle/Tests/TestDataBuilder/FamilyBuilder.php
  pim/src/PcmtRulesBundle/Tests/TestDataBuilder/RuleBuilder.php
  pim/src/PcmtRulesBundle/Tests/Validators/AttributeExistsInBothFamiliesConstraintValidatorTest.php
  pim/src/PcmtRulesBundle/Tests/Validators/DifferentFamilyConstraintValidatorTest.php
  pim/src/PcmtRulesBundle/Validators/AttributeExistsInBothFamiliesConstraintValidator.php
  pim/src/PcmtRulesBundle/Validators/DifferentFamilyConstraintValidator.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

translations in process tracker
  pim/src/PcmtRulesBundle/Resources/translations/messages.en_US.yml
  pim/src/PcmtRulesBundle/Resources/translations/messages.fr_FR.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

excluding identifier type
  pim/src/PcmtRulesBundle/Service/RuleAttributeProvider.php
  pim/src/PcmtRulesBundle/Tests/Service/RuleAttributeProviderTest.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#632, temp fix to remove the pim volume on wipe
  deploy/ansible/tasks/pim.yml
Due: ansible docker build

#632, temp stop containers to prune pim volume
  deploy/ansible/tasks/pim.yml
Due: ansible docker build

#632, temp bring containers down in dev
  deploy/ansible/tasks/pim.yml
Due: ansible docker build

#626 - Incorrect behavior of the rule page after deleting a rules
  pim/src/PcmtRulesBundle/Resources/config/form_extensions/rules/create.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

promote malawi to v2.0.3
  .gitlab-ci.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#579 Handling both IN and EQUALS operators
  pim/src/PcmtRulesBundle/Service/RuleProductProcessor.php
  pim/src/PcmtRulesBundle/Tests/Service/RuleProductProcessorTest.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#582 UPSERT when processing rule
  pim/src/PcmtRulesBundle/Connector/Job/Step/RuleProcessStep.php
  pim/src/PcmtRulesBundle/Resources/config/services.yml
  pim/src/PcmtRulesBundle/Service/RuleAttributeProvider.php
  pim/src/PcmtRulesBundle/Service/RuleProductProcessor.php
  pim/src/PcmtRulesBundle/Tests/Service/RuleProductProcessorTest.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

number of unique products in GDSN import
  pim/src/PcmtCoreBundle/Connector/Job/E2OpenFromXmlTasklet.php
  pim/src/PcmtCoreBundle/Resources/translations/messages.en_US.yml
  pim/src/PcmtCoreBundle/Resources/translations/messages.fr_FR.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#621, promote undp-demo system to 2.0.3
  .gitlab-ci.env-demo.yml
Due: none

#627 - Not all the french translation are included on the Rules page
  pim/src/PcmtRulesBundle/Resources/config/datagrid/rule.yml
  pim/src/PcmtRulesBundle/Resources/translations/jsmessages.fr_FR.yml
  pim/src/PcmtRulesBundle/Resources/translations/messages.en_US.yml
  pim/src/PcmtRulesBundle/Resources/translations/messages.fr_FR.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#638, set pyrsistent version - latest hasEOL py 3
  deploy/ansible/playbook.yml
  deploy/ansible/requirements/ansible.pip
Due: ansible docker build

#632, temp force rm volume
  deploy/ansible/tasks/pim.yml
Due: ansible docker build

#579 Processing a rule - fixes after tests
  pim/src/PcmtRulesBundle/Resources/config/services.yml
  pim/src/PcmtRulesBundle/Resources/translations/messages.en_US.yml
  pim/src/PcmtRulesBundle/Resources/translations/messages.fr_FR.yml
  pim/src/PcmtRulesBundle/Service/RuleProductProcessor.php
  pim/src/PcmtRulesBundle/Tests/Service/RuleProductProcessorTest.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

same families error is now global
  pim/src/PcmtRulesBundle/Resources/public/js/form/common/creation/modal.js
  pim/src/PcmtRulesBundle/Validators/DifferentFamilyConstraintValidator.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

incrementing only unique destination products
  pim/src/PcmtRulesBundle/Service/RuleProductProcessor.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#638, restart reverse-proxy service
  deploy/ansible/tasks/pim.yml
Due: ansible docker build

product variant import fix
  pim/src/PcmtDraftBundle/Service/Draft/BaseProductCreatorForDraft.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#622 - Investigate how to work with a yarn.lock file in PCMT
  Makefile
  README.md
  pim/Dockerfile
  pim/package.json
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

limiting list of attributes for rule
  pim/src/PcmtRulesBundle/Resources/translations/jsmessages.en_US.yml
  pim/src/PcmtRulesBundle/Service/RuleAttributeProvider.php
  pim/src/PcmtRulesBundle/Tests/Service/RuleAttributeProviderTest.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

CIS bundle and permissions
  pim/app/AppKernel.php
  pim/src/PcmtCISBundle/DependencyInjection/PcmtCISExtension.php
  pim/src/PcmtCISBundle/PcmtCISBundle.php
  pim/src/PcmtCISBundle/Resources/config/acl.yml
  pim/src/PcmtCISBundle/Resources/config/acl_groups.yml
  pim/src/PcmtCISBundle/Resources/config/services.yml
  pim/src/PcmtCISBundle/Resources/translations/messages.en_US.yml
  pim/src/PcmtCISBundle/Resources/translations/messages.fr_FR.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#643 - Error in number of destination products when upserting
  pim/src/PcmtRulesBundle/Connector/Job/Step/RuleProcessStep.php
  pim/src/PcmtRulesBundle/Service/RuleProductProcessor.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

CIS class model
  pim/src/PcmtCISBundle/Entity/Subscription.php
  pim/src/PcmtCISBundle/Repository/SubscriptionRepository.php
  pim/src/PcmtCISBundle/Resources/config/doctrine/Subscription.orm.yml
  pim/src/PcmtCISBundle/Resources/config/services.yml
  pim/src/PcmtCoreBundle/upgrades/schema/Version20200929105056.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#646 - Create a new front-end view for CIS
  pim/app/config/routing.yml
  pim/src/PcmtCISBundle/Resources/config/form_extensions/cis/index.yml
  pim/src/PcmtCISBundle/Resources/config/form_extensions/common/menu.yml
  pim/src/PcmtCISBundle/Resources/config/requirejs.yml
  pim/src/PcmtCISBundle/Resources/config/routing.yml
  pim/src/PcmtCISBundle/Resources/public/js/controller/cis_index.js
  pim/src/PcmtCISBundle/Resources/translations/jsmessages.en_US.yml
  pim/src/PcmtCISBundle/Resources/translations/jsmessages.fr_FR.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

CIS repo definition fix
  pim/src/PcmtCISBundle/Resources/config/services.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy
