Repository software4health/PCMT: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pim docker build, ansible docker build, terraform docker build, staging (WIPE DB), staging (KEEP DB), staging-destroy

pim docker build:
  stage: build
  script:
  - cd pim
  - ./build-images.sh
  - docker push pcmt/pcmt:latest
  - docker push pcmt/httpd:latest

ansible docker build:
  stage: build
  script:
  - cd deploy/ansible
  - ./build.sh
  - docker push pcmt/ansible:latest

terraform docker build:
  stage: build
  script:
  - cd deploy/terraform
  - ./build.sh
  - docker push pcmt/terraform:latest

staging (WIPE DB):
  stage: deploy
  environment:
    name: staging
    url: http://staging.pcmt.villagereach.org
    on_stop: staging-destroy
  variables:
    PCMT_PROFILE: dev
  script:
  - ./deploy/terraform/run-docker.sh staging apply -auto-approve

staging (KEEP DB):
  stage: deploy
  environment:
    name: staging
    url: http://staging.pcmt.villagereach.org
    on_stop: staging-destroy
  variables:
    PCMT_PROFILE: production
  script:
  - ./deploy/terraform/run-docker.sh staging apply -auto-approve

staging-destroy:
  stage: deploy
  environment:
    name: staging
    action: stop
  script:
  - ./deploy/terraform/run-docker.sh staging destroy -auto-approve

#51, add caution tape background
  pim/src/Pcmt/Bundle/Resources/public/images/caution-tape.jpg
  pim/src/Pcmt/Bundle/Resources/public/less/index.less
Due: staging (WIPE DB), staging (KEEP DB), staging-destroy

#51, refactor dev process, add makefile
  Makefile
  README.md
  bin/dev-up.sh
  bin/install-assets.sh
  bin/wait-http.sh
  docker-compose.dev.yml
  pim/docker/pim/start.sh
Due: staging (WIPE DB), staging (KEEP DB), staging-destroy

#51, allow build-images.sh to be ran from (most) anywhere
  pim/build-images.sh
Due: staging (WIPE DB), staging (KEEP DB), staging-destroy

#51, match success message in README to src
  README.md
Due: none

#51, add command to copy vendor to host
  .gitignore
  Makefile
  pim/.dockerignore
Due: staging (WIPE DB), staging (KEEP DB), staging-destroy

#51, print docker disk utilization for error in gitlab runner
  .gitlab-ci.yml
Due: none

#51, double default size of instance.
  .gitlab-ci.yml
  deploy/terraform/modules/pcmt/variables.tf
Due: terraform docker build

#51, add readme for vendor cp command.
  README.md
Due: none

#51, force build-images.sh to be executed from script's directory
  Makefile
  pim/build-images.sh
Due: staging (WIPE DB), staging (KEEP DB), staging-destroy

#88 - exposing port in dev environment
  docker-compose.dev.yml
Due: none

#88 - removed redundant bundle
  pim/app/AppKernel.php
  pim/src/Pcmt/Bundle/Command/PcmtHelperCommand.php
  pim/src/Pcmt/Bundle/PcmtConnectorBundle/Command/Handler/ConsecutivePcmtJobExecutionHandler.php
  pim/src/Pcmt/Bundle/PcmtConnectorBundle/Resources/config/handlers.yml
  pim/src/Pcmt/Bundle/PcmtEnrichBundle/PcmtEnrichBundle.php
  pim/src/Pcmt/Bundle/PcmtEnrichBundle/Resources/config/form_extensions/product_edit.yml
  pim/src/Pcmt/Bundle/PcmtEnrichBundle/Resources/config/requirejs.yml
  pim/src/Pcmt/Bundle/PcmtEnrichBundle/Resources/public/js/product/form/export-csv.js
  pim/src/Pcmt/Bundle/PcmtEnrichBundle/Resources/public/js/product/form/packages.js
  pim/src/Pcmt/Bundle/PcmtEnrichBundle/Resources/public/templates/product/export-csv.html
Due: staging (WIPE DB), staging (KEEP DB), staging-destroy

88 job read/write directory fixes
  docker-compose.dev.yml
  pim/src/Pcmt/PcmtConnectorBundle/Command/Handler/PcmtReferenceDataImportHandler.php
  pim/src/Pcmt/PcmtConnectorBundle/Command/InitializeReferenceDataImport.php
  pim/src/Pcmt/PcmtConnectorBundle/JobParameters/DefaultValueProvider/XmlReferenceDataDownload.php
  pim/src/Pcmt/PcmtConnectorBundle/JobParameters/DefaultValueProvider/XmlReferenceDataImport.php
  pim/src/Pcmt/PcmtConnectorBundle/Resources/config/services.yml
  pim/src/Pcmt/PcmtConnectorBundle/Step/ImportRefDataFiles.php
  pim/src/Pcmt/PcmtConnectorBundle/Validator/Directory/Provider/ValidPathProvider.php
Due: staging (WIPE DB), staging (KEEP DB), staging-destroy

#88 - 1 way mount for the src/directory
  docker-compose.dev.yml
Due: none

#67 - mounted web/ directory as a 2-way bind mount.
  docker-compose.dev.yml
Due: none

#67 - binded web/ directory; added new gdsn unit measures
  .gitignore
  Makefile
  docker-compose.dev.yml
  pim/app/AppKernel.php
  pim/src/Pcmt/PcmtAttributeBundle/Command/MeasurementUnitCode_GDSN.xml
  pim/src/Pcmt/PcmtAttributeBundle/Command/ReadConfigHelperCommand.php
  pim/src/Pcmt/PcmtAttributeBundle/Resources/config/measure.yml
  pim/src/Pcmt/PcmtAttributeBundle/Resources/config/services.yml
Due: staging (WIPE DB), staging (KEEP DB), staging-destroy

#67 - added new family to the metric attribute type
  pim/app/AppKernel.php
  pim/app/config/pmct_attributes.yml
  pim/src/Pcmt/PcmtAttributeBundle/Akeneo-Open.txt
  pim/src/Pcmt/PcmtAttributeBundle/Command/ReadConfigHelperCommand.php
  pim/src/Pcmt/PcmtAttributeBundle/DependencyInjection/Configuration/Configuration.php
  pim/src/Pcmt/PcmtAttributeBundle/DependencyInjection/PcmtAttributeExtension.php
  pim/src/Pcmt/PcmtAttributeBundle/PcmtAttributeBundle.php
  pim/src/Pcmt/PcmtAttributeBundle/Resources/config/measure.yml
  pim/src/Pcmt/PcmtAttributeBundle/Resources/translations/jsmessages.en_US.yml
  pim/src/Pcmt/PcmtAttributeBundle/Resources/translations/messages.en_US.yml
  pim/src/Pcmt/PcmtConnectorBundle/DependencyInjection/Configuration/Configuration.php
  pim/src/Pcmt/PcmtConnectorBundle/DependencyInjection/PcmtConnectorExtension.php
  pim/src/Pcmt/PcmtConnectorBundle/PcmtConnectorBundle.php
  pim/src/Pcmt/PcmtConnectorBundle/ReferenceDataDownloadPathProvider.php
Due: staging (WIPE DB), staging (KEEP DB), staging-destroy

#61 - set name (code) as values that show up in the dropdown list for reference data
  pim/src/Pcmt/Bundle/Entity/Repository/GS1CodesRepository.php
  pim/src/Pcmt/Bundle/Resources/config/doctrine/AdditionalTradeItemClassificationCodeListCode.orm.yml
  pim/src/Pcmt/Bundle/Resources/config/doctrine/AdditionalTradeItemIdentificationTypeCode.orm.yml
  pim/src/Pcmt/Bundle/Resources/config/doctrine/ColourCodeListCode.orm.yml
  pim/src/Pcmt/Bundle/Resources/config/doctrine/CountryCode.orm.yml
  pim/src/Pcmt/Bundle/Resources/config/doctrine/DataCarrierTypeCode.orm.yml
  pim/src/Pcmt/Bundle/Resources/config/doctrine/GDSNMeasurementUnitCode.orm.yml
  pim/src/Pcmt/Bundle/Resources/config/doctrine/GS1Code.orm.yml
  pim/src/Pcmt/Bundle/Resources/config/doctrine/Gs1TradeItemIdentificationKeyCode.orm.yml
  pim/src/Pcmt/Bundle/Resources/config/doctrine/ImportClassificationTypeCode.orm.yml
  pim/src/Pcmt/Bundle/Resources/config/doctrine/LanguageCode.orm.yml
  pim/src/Pcmt/Bundle/Resources/config/doctrine/NonfoodIngredientOfConcernCode.orm.yml
  pim/src/Pcmt/Bundle/Resources/config/doctrine/PackageTypeCode.orm.yml
  pim/src/Pcmt/Bundle/Resources/config/doctrine/PlatformTypeCode.orm.yml
  pim/src/Pcmt/Bundle/Resources/config/doctrine/ReferencedFileTypeCode.orm.yml
  pim/src/Pcmt/Bundle/Resources/config/doctrine/RegulationTypeCode.orm.yml
  pim/src/Pcmt/Bundle/Resources/config/doctrine/RouteAdministration.orm.yml
  pim/src/Pcmt/Bundle/Resources/config/doctrine/ShippingContainerTypeCode.orm.yml
  pim/src/Pcmt/Bundle/Resources/config/doctrine/SizeCodeListCode.orm.yml
  pim/src/Pcmt/Bundle/Resources/config/doctrine/TemperatureQualifierCode.orm.yml
  pim/src/Pcmt/Bundle/Resources/config/doctrine/TradeItemUnitDescriptorCode.orm.yml
  pim/src/Pcmt/PcmtConnectorBundle/PcmtConnectorBundle.php
Due: staging (WIPE DB), staging (KEEP DB), staging-destroy

#61 - splitted command logic
  pim/src/Pcmt/PcmtConnectorBundle/Command/Creator/PcmtJobCreator.php
  pim/src/Pcmt/PcmtConnectorBundle/Exception/UnknownJobException.php
  pim/src/Pcmt/PcmtConnectorBundle/Registry/PcmtConnectorJobParametersRegistry.php
  pim/src/Pcmt/PcmtConnectorBundle/Resources/config/reference_data/gs1Codes/AdditionalTradeItemClassificationCodeListCode.xml
  pim/src/Pcmt/PcmtConnectorBundle/Resources/config/reference_data/gs1Codes/AdditionalTradeItemIdentificationTypeCode.xml
  pim/src/Pcmt/PcmtConnectorBundle/Resources/config/reference_data/gs1Codes/ColourCodeListCode.xml
  pim/src/Pcmt/PcmtConnectorBundle/Resources/config/reference_data/gs1Codes/CountryCode.xml
  pim/src/Pcmt/PcmtConnectorBundle/Resources/config/reference_data/gs1Codes/DataCarrierTypeCode.xml
  pim/src/Pcmt/PcmtConnectorBundle/Resources/config/reference_data/gs1Codes/GS1TradeItemIdentificationKeyTypeCode.xml
  pim/src/Pcmt/PcmtConnectorBundle/Resources/config/reference_data/gs1Codes/ImportClassificationTypeCode.xml
  pim/src/Pcmt/PcmtConnectorBundle/Resources/config/reference_data/gs1Codes/MeasurementUnitCode_GDSN.xml~67-gdsn-metric
  pim/src/Pcmt/PcmtConnectorBundle/Resources/config/reference_data/gs1Codes/MeasurementUnitCode_GDSN.xml~HEAD
  pim/src/Pcmt/PcmtConnectorBundle/Resources/config/reference_data/gs1Codes/NonfoodIngredientOfConcernCode.xml
  pim/src/Pcmt/PcmtConnectorBundle/Resources/config/reference_data/gs1Codes/PackageTypeCode.xml
  pim/src/Pcmt/PcmtConnectorBundle/Resources/config/reference_data/gs1Codes/PlatformTypeCode.xml
  pim/src/Pcmt/PcmtConnectorBundle/Resources/config/reference_data/gs1Codes/ReferencedFileTypeCode.xml
  pim/src/Pcmt/PcmtConnectorBundle/Resources/config/reference_data/gs1Codes/RegulationTypeCode.xml
  pim/src/Pcmt/PcmtConnectorBundle/Resources/config/reference_data/gs1Codes/ShippingContainerTypeCode.xml
  pim/src/Pcmt/PcmtConnectorBundle/Resources/config/reference_data/gs1Codes/SizeCodeListCode.xml
  pim/src/Pcmt/PcmtConnectorBundle/Resources/config/reference_data/gs1Codes/TemperatureQualifierCode.xml
  pim/src/Pcmt/PcmtConnectorBundle/Resources/config/reference_data/gs1Codes/TradeItemUnitDescriptorCode.xml
Due: staging (WIPE DB), staging (KEEP DB), staging-destroy

#67 - added files
  pim/src/Pcmt/PcmtConnectorBundle/Command/Creator/PcmtJobCreator.php
  pim/src/Pcmt/PcmtConnectorBundle/Command/Handler/PcmtReferenceDataDownloadHandler.php
  pim/src/Pcmt/PcmtConnectorBundle/Command/Handler/PcmtReferenceDataImportHandler.php
  pim/src/Pcmt/PcmtConnectorBundle/Exception/UnknownJobException.php
  pim/src/Pcmt/PcmtConnectorBundle/Registry/PcmtConnectorJobParametersRegistry.php
Due: staging (WIPE DB), staging (KEEP DB), staging-destroy

#67 - commands splitted
  pim/src/Pcmt/PcmtConnectorBundle/Command/Creator/PcmtJobCreator.php
  pim/src/Pcmt/PcmtConnectorBundle/Resources/config/services.yml
Due: staging (WIPE DB), staging (KEEP DB), staging-destroy

95, test if CI scripts can be written in bash
  .gitlab-ci.yml
Due: none

#61, remove unneeded command
  bin/install-assets-web.sh
Due: none

#95, introduce a semantic version to assets
  .env
  .gitlab-ci.yml
  Makefile
  bin/ci-build.sh
  docker-compose.yml
  pim/docker-compose.yml
Due: staging (WIPE DB), staging (KEEP DB), staging-destroy

#95, add make to ci container
  .gitlab-ci.yml
Due: none

#67 Resolve "Add custom METRIC Family to support alignment with GDSN picklist for things such as NET CONTENT / UNIT MEASURE"
  pim/app/AppKernel.php
  pim/src/Pcmt/Bundle/Command/PcmtAssignAttributesToFamilyCommand.php
  pim/src/Pcmt/Bundle/Command/PcmtGenerateRefDataCommand.php
  pim/src/Pcmt/Bundle/Resources/config/services.yml
  pim/src/Pcmt/PcmtAttributeBundle/Akeneo-Open.txt
  pim/src/Pcmt/PcmtAttributeBundle/Command/MeasurementUnitCode_GDSN.xml
  pim/src/Pcmt/PcmtAttributeBundle/Command/ReadConfigHelperCommand.php
  pim/src/Pcmt/PcmtAttributeBundle/Resources/config/services.yml
  pim/src/Pcmt/PcmtConnectorBundle/JobParameters/DefaultValueProvider/XmlReferenceDataImport.php
  pim/src/Pcmt/PcmtConnectorBundle/PcmtConnectorBundle.php
  pim/src/Pcmt/PcmtConnectorBundle/ReferenceDataDownloadPathProvider.php
  pim/src/Pcmt/PcmtConnectorBundle/Resources/config/services.yml
Due: staging (WIPE DB), staging (KEEP DB), staging-destroy

#95, add capability for CI to build branches, tag versions and deploy those
  .env
  .gitlab-ci.yml
  Makefile
  bin/ci-deploy.sh
  bin/ci-push.sh
  bin/pcmt-semver.sh
  bin/pcmt-ver-sha.sh
  ddev.sh
  deploy/README.md
  deploy/ansible/docker-entrypoint.sh
  deploy/ansible/playbook.yml
  deploy/ansible/tasks/pim.yml
  deploy/terraform/Dockerfile
  deploy/terraform/run-docker.sh
  deploy/terraform/script/pcmt-ansible.sh
  pim/build-images.sh
Due: ansible docker build, terraform docker build, staging (WIPE DB), staging (KEEP DB), staging-destroy

95, add git to CI image to detect commit SHA and branch name in CI build
  .gitlab-ci.yml
Due: none

#95, add script output to track how images are tagged and pushed in CI
  bin/ci-push.sh
Due: none

#95, add fix for case when script is ran in gitlab
  bin/ci-push.sh
Due: none

#95, change semver to show we're working on the beta of 1.0.0
  .env
Due: none

#95, build pim when .env file changes
  .gitlab-ci.yml
Due: none

#95, move test env from using yaml anchors to gitlab's extends
  .gitlab-ci.yml
Due: none

#95, re-purpose cd-test env as a showcase env
  .gitlab-ci.yml
  deploy/terraform/cd-test/terraform.tfvars
  deploy/terraform/dev/variables.tf
  deploy/terraform/showcase/main.tf
  deploy/terraform/showcase/terraform.tfvars
  deploy/terraform/showcase/variables.tf
  deploy/terraform/test/variables.tf
  doc/environments.md
Due: terraform docker build

#95, remove unneeded tf variables.
  deploy/terraform/dev/variables.tf
  deploy/terraform/showcase/variables.tf
  deploy/terraform/test/variables.tf
Due: terraform docker build

#95, move test env gitlab-ci job names to new env convention
  .gitlab-ci.yml
Due: none

Path conditions:
  pim docker build: any of: docker/**/*
  ansible docker build: any of: deploy/ansible/**/*
  terraform docker build: any of: deploy/terraform/**/*
  staging (WIPE DB): any of: pim/**/*
  staging (KEEP DB): any of: pim/**/*
  staging-destroy: any of: pim/**/*
