Repository software4health/PCMT: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pim docker build (on git push), ansible docker build, terraform docker build, test (on git push)

pim docker build (on git push):
  stage: build
  script:
  - bin/ci-build.sh
  - bin/ci-push.sh

ansible docker build:
  stage: build
  script:
  - cd deploy/ansible
  - ./build.sh
  - docker push pcmt/ansible:latest

terraform docker build:
  stage: build
  script:
  - cd deploy/terraform
  - ./build.sh
  - docker push pcmt/terraform:latest

test (on git push):
  stage: deploy
  variables:
    PCMT_PROFILE: dev
  environment:
    name: test
    url: http://test.pcmt.villagereach.org
    on_stop: test-destroy
  script:
  - ./bin/ci-deploy.sh test

#95, change test-env manual deployment forced to pim builds
  .gitlab-ci.yml
Due: none

#95, move dev-env to new naming convention and use extends in gitlab-ci
  .gitlab-ci.yml
Due: none

#95, cleanup old unneeded files
  Brewfile
  test.sh
Due: none

#95, add docker-compose file changes to reason to build+deploy pim
  .gitlab-ci.yml
Due: none

#95, release an alpha
  .env
Due: pim docker build (on git push), test (on git push)

#95, bump version back to snapshot of beta
  .env
Due: pim docker build (on git push), test (on git push)

#103 Resolve "Automate Loading Product View Demo Data"
  pim/src/Pcmt/PcmtCustomDatasetBundle/ArrayConverter/FlatToStandard/DatagridView.php
  pim/src/Pcmt/PcmtCustomDatasetBundle/ArrayConverter/StandardToFlat/DatagridView.php
  pim/src/Pcmt/PcmtCustomDatasetBundle/Command/NewDatabaseCommand.php
  pim/src/Pcmt/PcmtCustomDatasetBundle/Command/PcmtCreateCustomDatasetCommand.php
  pim/src/Pcmt/PcmtCustomDatasetBundle/Command/PcmtCreateCustomDatasetCsvCommand.php
  pim/src/Pcmt/PcmtCustomDatasetBundle/DependencyInjection/PcmtCustomDatasetExtension.php
  pim/src/Pcmt/PcmtCustomDatasetBundle/Helper/ReadFilter.php
  pim/src/Pcmt/PcmtCustomDatasetBundle/Processor/Denormalizer/PcmtDatagridViewProcessor.php
  pim/src/Pcmt/PcmtCustomDatasetBundle/Processor/Denormalizer/PcmtProductProcessor.php
  pim/src/Pcmt/PcmtCustomDatasetBundle/Processor/Normalizer/PcmtDatagridViewNormalizer.php
  pim/src/Pcmt/PcmtCustomDatasetBundle/Reader/Database/PcmtDatagridViewReader.php
  pim/src/Pcmt/PcmtCustomDatasetBundle/Resources/config/array_converters.yml
  pim/src/Pcmt/PcmtCustomDatasetBundle/Resources/config/forms.yml
  pim/src/Pcmt/PcmtCustomDatasetBundle/Resources/config/jobs.yml
  pim/src/Pcmt/PcmtCustomDatasetBundle/Resources/config/normalizers.yml
  pim/src/Pcmt/PcmtCustomDatasetBundle/Resources/config/processors.yml
  pim/src/Pcmt/PcmtCustomDatasetBundle/Resources/config/providers.yml
  pim/src/Pcmt/PcmtCustomDatasetBundle/Resources/config/readers.yml
  pim/src/Pcmt/PcmtCustomDatasetBundle/Resources/config/steps.yml
  pim/src/Pcmt/PcmtCustomDatasetBundle/Resources/config/updaters.yml
  pim/src/Pcmt/PcmtCustomDatasetBundle/Resources/config/writers.yml
  pim/src/Pcmt/PcmtCustomDatasetBundle/Resources/fixtures/pcmt_global/import_files/11_datagrid_view.xlsx
  pim/src/Pcmt/PcmtCustomDatasetBundle/Resources/fixtures/pcmt_global/import_files/1_categories.xlsx
  pim/src/Pcmt/PcmtCustomDatasetBundle/Resources/fixtures/pcmt_global/import_files/2_attribute_groups.xlsx
  pim/src/Pcmt/PcmtCustomDatasetBundle/Resources/fixtures/pcmt_global/import_files/3_attributes.xlsx
  pim/src/Pcmt/PcmtCustomDatasetBundle/Resources/fixtures/pcmt_global/import_files/4_attribute_options.xlsx
  pim/src/Pcmt/PcmtCustomDatasetBundle/Resources/fixtures/pcmt_global/import_files/5_families.xlsx
  pim/src/Pcmt/PcmtCustomDatasetBundle/Resources/fixtures/pcmt_global/import_files/6_family_variants.xlsx
  pim/src/Pcmt/PcmtCustomDatasetBundle/Resources/fixtures/pcmt_global/import_files/7_product_models.xlsx
  pim/src/Pcmt/PcmtCustomDatasetBundle/Resources/fixtures/pcmt_global/import_files/8_products.xlsx
  pim/src/Pcmt/PcmtCustomDatasetBundle/Resources/fixtures/pcmt_global/import_files/8_products_gs1.xlsx
  pim/src/Pcmt/PcmtCustomDatasetBundle/Resources/fixtures/pcmt_global/import_files/9_masterdata_entries.xlsx
  pim/src/Pcmt/PcmtCustomDatasetBundle/Resources/fixtures/pcmt_global/jobs.yml
  pim/src/Pcmt/PcmtCustomDatasetBundle/Resources/translations/jsmessages.en_US.yml
  pim/src/Pcmt/PcmtCustomDatasetBundle/Updater/PcmtDatagridViewUpdater.php
Due: pim docker build (on git push), test (on git push)

#116 - fixed blank value
  docker-compose.dev.yml
  pim/src/Pcmt/Bundle/Command/PcmtHelperCommand.php
  pim/src/Pcmt/PcmtAttributeBundle/DependencyInjection/PcmtAttributeExtension.php
  pim/src/Pcmt/PcmtAttributeBundle/Extension/ConcatenatedAttribute/Structure/Component/Comparator/ConcatenatedComparator.php
  pim/src/Pcmt/PcmtAttributeBundle/Resources/config/renderers.yml
  pim/src/Pcmt/PcmtAttributeBundle/Resources/views/Product/renderPdf.html.twig
Due: pim docker build (on git push), test (on git push)

#116 - fix
  pim/src/Pcmt/PcmtAttributeBundle/Resources/config/renderers.yml
Due: pim docker build (on git push), test (on git push)

#106 - updated .gitiginore
  .gitignore
Due: none

Fix gitlab bug template's bug label and link.
  .gitlab/issue_templates/Bug.md
Due: none

#118 attr desc in product_model
  pim/src/Pcmt/PcmtProductBundle/Resources/config/form_extensions/product_model/edit.yml
Due: pim docker build (on git push), test (on git push)

#117 remove dead link
  pim/src/Pcmt/Bundle/Resources/config/form_extensions/menu.yml
Due: pim docker build (on git push), test (on git push)

#112 Release 1.0.0-beta
  .env
Due: pim docker build (on git push), test (on git push)

Bump to next development version
  .env
Due: pim docker build (on git push), test (on git push)

#112, create a beta env
  .gitlab-ci.yml
  deploy/terraform/beta/main.tf
  deploy/terraform/beta/terraform.tfvars
  deploy/terraform/beta/variables.tf
Due: terraform docker build

#120, allow PCMT_VER to be set in CI deployment
  bin/ci-deploy.sh
Due: none

#120, add beta env to docs
  doc/environments.md
Due: none

#95, add ADR 7 on the PCMT versioning and release process.
  doc/arch/adr-007.md
  docker-compose.dev.yml
Due: none

#117 clean up
  pim/src/Pcmt/Bundle/Resources/config/form_extensions/menu.yml
Due: pim docker build (on git push), test (on git push)

#112 - added table
  pim/src/Pcmt/Bundle/Command/PcmtHelperCommand.php
  pim/src/Pcmt/PcmtProductBundle/Entity/ProductAbstractDraft.php
  pim/src/Pcmt/PcmtProductBundle/Entity/ProductDraftORMRepository.php
  pim/src/Pcmt/PcmtProductBundle/Normalizer/NewDraftPropertyNormalizer.php
  pim/src/Pcmt/PcmtProductBundle/Resources/public/js/draft/draft-products-widget.js
  pim/src/Pcmt/PcmtProductBundle/Resources/public/templates/draft/draft-products-widget.html
  pim/src/Pcmt/PcmtProductBundle/Resources/translations/jsmessages.en_US.yml
  pim/src/Pcmt/PcmtProductBundle/Resources/views/Widget/draft_products_overview.html.twig
  pim/src/Pcmt/PcmtProductBundle/Widget/DraftsFetcher.php
Due: pim docker build (on git push), test (on git push)

#122 - diplay list
  pim/src/Pcmt/PcmtProductBundle/Resources/public/js/draft/draft-products-widget.js
  pim/src/Pcmt/PcmtProductBundle/Resources/public/templates/draft/draft-products-widget.html
  pim/src/Pcmt/PcmtProductBundle/Resources/translations/jsmessages.en_US.yml
Due: pim docker build (on git push), test (on git push)

#122 - added whole list
  pim/src/Pcmt/PcmtProductBundle/Resources/public/templates/draft/draft-products-widget.html
  pim/src/Pcmt/PcmtProductBundle/Widget/DraftsFetcher.php
Due: pim docker build (on git push), test (on git push)

#122 - display whole list
  pim/composer.json
  pim/composer.lock
  pim/src/Pcmt/PcmtProductBundle/Entity/ProductAbstractDraft.php
  pim/src/Pcmt/PcmtProductBundle/Resources/public/js/draft/draft-products-widget.js
  pim/src/Pcmt/PcmtProductBundle/Resources/public/templates/draft/draft-products-widget.html
  pim/src/Pcmt/PcmtProductBundle/Widget/DraftsFetcher.php
Due: pim docker build (on git push), test (on git push)

#122 - formatting date
  pim/src/Pcmt/PcmtProductBundle/Entity/ProductAbstractDraft.php
  pim/src/Pcmt/PcmtProductBundle/Resources/public/templates/draft/draft-products-widget.html
  pim/src/Pcmt/PcmtProductBundle/Widget/DraftsFetcher.php
Due: pim docker build (on git push), test (on git push)

#122 - added no drafts
  pim/src/Pcmt/PcmtProductBundle/Resources/public/templates/draft/draft-products-widget.html
Due: pim docker build (on git push), test (on git push)

#128 hide rd permission
  pim/src/Pcmt/PcmtCustomDatasetBundle/Resources/config/acl_groups.yml
Due: pim docker build (on git push), test (on git push)

#127 - added concatenated attributes when fetching product model
  docker-compose.dev.yml
  pim/app/AppKernel.php
  pim/src/Pcmt/Bundle/Command/PcmtHelperCommand.php
  pim/src/Pcmt/PcmtAttributeBundle/EventSubscriber/UpdateProductValueIfHasConcatenatedAttribute.php
  pim/src/Pcmt/PcmtAttributeBundle/Resources/config/entities.yml
  pim/src/Pcmt/PcmtAttributeBundle/Resources/config/listeners.yml
  pim/src/Pcmt/PcmtFamilyBundle/DependencyInjection/PcmtFamilyExtension.php
  pim/src/Pcmt/PcmtFamilyBundle/PcmtFamilyBundle.php
  pim/src/Pcmt/PcmtFamilyBundle/Repository/PcmtFamilyVariantRepository.php
  pim/src/Pcmt/PcmtFamilyBundle/Resources/config/repositories.yml
  pim/src/Pcmt/PcmtProductBundle/Event/ProductModelFetchEvent.php
  pim/src/Pcmt/PcmtProductBundle/Resources/config/controllers.yml
  pim/src/Pcmt/PcmtProductModelBundle/Controller/PcmtProductModelController.php
  pim/src/Pcmt/PcmtProductModelBundle/DependencyInjection/PcmtProductModelExtension.php
  pim/src/Pcmt/PcmtProductModelBundle/PcmtProductModelBundle.php
  pim/src/Pcmt/PcmtProductModelBundle/Resources/config/controllers.yml
Due: pim docker build (on git push), test (on git push)

#142, create environment and gitlab jobs for rwanda-beta
  .gitlab-ci.yml
  deploy/terraform/rwanda-beta/main.tf
  deploy/terraform/rwanda-beta/terraform.tfvars
  deploy/terraform/rwanda-beta/variables.tf
Due: terraform docker build

#142, add doc on rwanda-beta
  doc/environments.md
Due: none

#141 new view draft list permission
  pim/app/AppKernel.php
  pim/src/Pcmt/PcmtPermissionBundle/PcmtPermissionBundle.php
  pim/src/Pcmt/PcmtPermissionBundle/Resources/config/acl.yml
  pim/src/Pcmt/PcmtPermissionBundle/Resources/config/acl_groups.yml
  pim/src/Pcmt/PcmtPermissionBundle/Resources/translations/messages.en.yml
Due: pim docker build (on git push), test (on git push)

Resolve "Concatenated attribute doesn't save correctly, resulting in inaccessible products"
  docker-compose.dev.yml
  pim/src/Pcmt/PcmtAttributeBundle/Normalizer/Standard/AttributeNormalizer.php
  pim/src/Pcmt/PcmtAttributeBundle/Normalizer/Standard/ConcatenatedTypeNormalizer.php
  pim/src/Pcmt/PcmtAttributeBundle/Resources/config/normalizers.yml
  pim/src/Pcmt/PcmtAttributeBundle/Resources/public/js/attribute/form/properties/concat-attribute.js
  pim/src/Pcmt/PcmtAttributeBundle/Resources/public/templates/form/properties/concat-attribute.html
  pim/src/Pcmt/PcmtAttributeBundle/Updater/AttributeUpdater.php
Due: pim docker build (on git push), test (on git push)

#141 approve/reject permission, translations
  pim/src/Pcmt/PcmtPermissionBundle/Resources/config/acl.yml
  pim/src/Pcmt/PcmtPermissionBundle/Resources/config/acl_groups.yml
  pim/src/Pcmt/PcmtPermissionBundle/Resources/translations/messages.en.yml
Due: pim docker build (on git push), test (on git push)

#141 permissions connected with PcmtProductDraftController
  pim/src/Pcmt/PcmtPermissionBundle/Resources/config/acl_groups.yml
  pim/src/Pcmt/PcmtProductBundle/Controller/PcmtProductDraftController.php
  pim/src/Pcmt/PcmtProductBundle/DependencyInjection/PcmtProductExtension.php
  pim/src/Pcmt/PcmtProductBundle/Resources/config/services.yml
Due: pim docker build (on git push), test (on git push)

#136 New page for product drafts
  pim/app/config/routing.yml
  pim/src/Pcmt/PcmtProductBundle/Controller/PcmtProductDraftController.php
  pim/src/Pcmt/PcmtProductBundle/Entity/ProductDraftORMRepository.php
  pim/src/Pcmt/PcmtProductBundle/Normalizer/DraftNormalizer.php
  pim/src/Pcmt/PcmtProductBundle/Resources/config/controllers.yml
  pim/src/Pcmt/PcmtProductBundle/Resources/config/form_extensions/drafts-index.yml
  pim/src/Pcmt/PcmtProductBundle/Resources/config/form_extensions/menu.yml
  pim/src/Pcmt/PcmtProductBundle/Resources/config/normalizers.yml
  pim/src/Pcmt/PcmtProductBundle/Resources/config/requirejs.yml
  pim/src/Pcmt/PcmtProductBundle/Resources/config/routing.yml
  pim/src/Pcmt/PcmtProductBundle/Resources/public/js/controller/drafts_index.js
  pim/src/Pcmt/PcmtProductBundle/Resources/public/templates/draft/draft-list.html
  pim/src/Pcmt/PcmtProductBundle/Resources/translations/jsmessages.en_US.yml
  pim/src/Pcmt/PcmtProductBundle/Widget/DraftsFetcher.php
Due: pim docker build (on git push), test (on git push)

4 spaces in yml
  pim/src/Pcmt/PcmtProductBundle/Resources/config/services.yml
Due: pim docker build (on git push), test (on git push)

Path conditions:
  pim docker build (on git push): any of: pim/**/*, .env
  ansible docker build: any of: deploy/ansible/**/*
  terraform docker build: any of: deploy/terraform/**/*
  test (on git push): any of: pim/**/*, .env
