Repository software4health/PCMT: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pim docker build (on git push), pim_erd, ansible docker build, terraform docker build, cron docker build, mysql-backup docker build, s3 docker build, ftp-get docker build, scalyr docker build, env-test, env-test-destroy

Path conditions:
  pim docker build (on git push): any of: .gitlab-ci.yml, pim/**/*, .env, conf/**/*, docker-compose.yml, docker-compose.tls.yml, docker-compose.prod.yml
  pim_erd: any of: .gitlab-ci.yml, pim/**/*, .env, conf/**/*, docker-compose.yml, docker-compose.tls.yml, docker-compose.prod.yml
  ansible docker build: any of: deploy/ansible/**/*
  terraform docker build: any of: deploy/terraform/**/*
  cron docker build: (any of: deploy/cron/**/*) and (not (any of: deploy/mysql-backup/**/*))
  mysql-backup docker build: any of: deploy/mysql-backup/**/*, deploy/cron/**/*
  s3 docker build: any of: deploy/s3/**/*, deploy/cron/**/*
  ftp-get docker build: any of: deploy/ftp-get/**/*, deploy/cron/**/*
  scalyr docker build: any of: deploy/scalyr/**/*
  env-test: any of: .gitlab-ci.yml, pim/**/*, .env, conf/**/*, docker-compose.yml, docker-compose.tls.yml, docker-compose.prod.yml
  env-test-destroy: any of: .gitlab-ci.yml, pim/**/*, .env, conf/**/*, docker-compose.yml, docker-compose.tls.yml, docker-compose.prod.yml

#656, add new network for new gfpvan account
  deploy/terraform/gfpvan-network-useast-new/main.tf
  deploy/terraform/gfpvan-network-useast-new/outputs.tf
  deploy/terraform/gfpvan-network-useast-new/terraform.tfvars
  deploy/terraform/gfpvan-network-useast-new/variables.tf
Due: terraform docker build

#656, move uat instance to new aws account
  deploy/terraform/gfpvan-uat/main.tf
Due: terraform docker build

#656, move gfpvan-prod to new aws account
  deploy/terraform/gfpvan/main.tf
Due: terraform docker build

#656, replace old gfpvan network with the new
  deploy/terraform/gfpvan-network-useast-new/main.tf
  deploy/terraform/gfpvan-network-useast-new/outputs.tf
  deploy/terraform/gfpvan-network-useast-new/terraform.tfvars
  deploy/terraform/gfpvan-network-useast-new/variables.tf
  deploy/terraform/gfpvan-network-useast/main.tf
Due: terraform docker build

#644 Resetting key attribute after attributes reloaded
  pim/src/PcmtRulesBundle/Resources/public/js/form/properties/key-attribute.js
  pim/src/PcmtRulesBundle/Resources/translations/jsmessages.en_US.yml
  pim/src/PcmtRulesBundle/Resources/translations/jsmessages.fr_FR.yml
  pim/src/PcmtRulesBundle/Tests/Updater/RuleUpdaterTest.php
  pim/src/PcmtRulesBundle/Updater/RuleUpdater.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

fix for filtering
  pim/src/PcmtRulesBundle/Resources/public/js/form/properties/key-attribute.js
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#647 CIS creating backend
  pim/phpunit.xml.dist
  pim/src/PcmtCISBundle/Constraint/RequiredFieldConstraint.php
  pim/src/PcmtCISBundle/Controller/SubscriptionController.php
  pim/src/PcmtCISBundle/DependencyInjection/PcmtCISExtension.php
  pim/src/PcmtCISBundle/Entity/Subscription.php
  pim/src/PcmtCISBundle/Normalizer/SubscriptionNormalizer.php
  pim/src/PcmtCISBundle/Resources/config/controllers.yml
  pim/src/PcmtCISBundle/Resources/config/routing.yml
  pim/src/PcmtCISBundle/Resources/config/routing/subscription.yml
  pim/src/PcmtCISBundle/Resources/config/savers.yml
  pim/src/PcmtCISBundle/Resources/config/services.yml
  pim/src/PcmtCISBundle/Resources/config/updaters.yml
  pim/src/PcmtCISBundle/Resources/config/validation/subscription.yml
  pim/src/PcmtCISBundle/Saver/SubscriptionSaver.php
  pim/src/PcmtCISBundle/Tests/Normalizer/SubscriptionNormalizerTest.php
  pim/src/PcmtCISBundle/Tests/Saver/SubscriptionSaverTest.php
  pim/src/PcmtCISBundle/Tests/TestDataBuilder/RequiredFieldConstraintBuilder.php
  pim/src/PcmtCISBundle/Tests/TestDataBuilder/SubscriptionBuilder.php
  pim/src/PcmtCISBundle/Tests/Updater/SubscriptionUpdaterTest.php
  pim/src/PcmtCISBundle/Tests/Validator/RequiredFieldConstraintValidatorTest.php
  pim/src/PcmtCISBundle/Updater/SubscriptionUpdater.php
  pim/src/PcmtCISBundle/Validator/RequiredFieldConstraintValidator.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

incorrect order in rule create form
  pim/src/PcmtRulesBundle/Resources/config/form_extensions/rules/create.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#648 - Creating a new CIS - frontend
  pim/src/PcmtCoreBundle/Controller/ReferenceDataController.php
  pim/src/PcmtCoreBundle/DependencyInjection/PcmtCoreExtension.php
  pim/src/PcmtCoreBundle/Normalizer/Standard/CountryCodeNormalizer.php
  pim/src/PcmtCoreBundle/Resources/config/controllers.yml
  pim/src/PcmtCoreBundle/Resources/config/normalizers.yml
  pim/src/PcmtCoreBundle/Resources/config/routing.yml
  pim/src/PcmtCoreBundle/Tests/Normalizer/Standard/CountryCodeNormalizerTest.php
  pim/src/PcmtCoreBundle/Tests/TestDataBuilder/CountryCodeBuilder.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

tooltip for key attribute
  pim/src/PcmtRulesBundle/Resources/config/form_extensions/rules/create.yml
  pim/src/PcmtRulesBundle/Resources/config/form_extensions/rules/edit.yml
  pim/src/PcmtRulesBundle/Resources/config/requirejs.yml
  pim/src/PcmtRulesBundle/Resources/public/js/form/properties/key-attribute.js
  pim/src/PcmtRulesBundle/Resources/public/templates/group.html
  pim/src/PcmtRulesBundle/Resources/translations/jsmessages.en_US.yml
  pim/src/PcmtRulesBundle/Resources/translations/jsmessages.fr_FR.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#648 - Creating a new CIS - frontend
  pim/src/PcmtCoreBundle/Resources/config/requirejs.yml
  pim/src/PcmtCoreBundle/Resources/public/js/common/fetcher/country-code-fetcher.js
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#648 - Creating a new CIS - frontend
  pim/src/PcmtCISBundle/Resources/config/form_extensions/cis/create.yml
  pim/src/PcmtCISBundle/Resources/config/form_extensions/cis/index.yml
  pim/src/PcmtCISBundle/Resources/config/requirejs.yml
  pim/src/PcmtCISBundle/Resources/public/js/form/properties/country_codes.js
  pim/src/PcmtCoreBundle/Normalizer/Standard/CountryCodeNormalizer.php
  pim/src/PcmtCoreBundle/Resources/config/requirejs.yml
  pim/src/PcmtCoreBundle/Resources/public/js/common/fetcher/country-code-fetcher.js
  pim/src/PcmtCoreBundle/Tests/Normalizer/Standard/CountryCodeNormalizerTest.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#662 Fix for not mapping attributes
  pim/src/PcmtRulesBundle/Connector/Job/Step/RuleProcessStep.php
  pim/src/PcmtRulesBundle/Controller/AttributeController.php
  pim/src/PcmtRulesBundle/Service/RuleAttributeProvider.php
  pim/src/PcmtRulesBundle/Service/RuleProductProcessor.php
  pim/src/PcmtRulesBundle/Tests/Service/RuleAttributeProviderTest.php
  pim/src/PcmtRulesBundle/Tests/Service/RuleProductProcessorTest.php
  pim/src/PcmtRulesBundle/Tests/Validators/AttributeExistsInBothFamiliesConstraintValidatorTest.php
  pim/src/PcmtRulesBundle/Validators/AttributeExistsInBothFamiliesConstraintValidator.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#648 - Creating a new CIS - frontend
  pim/src/PcmtCISBundle/Resources/config/form_extensions/cis/create.yml
  pim/src/PcmtCISBundle/Resources/config/routing/subscription.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#667, increase timeout to 120 for docker client
  deploy/ansible/tasks/pim.yml
Due: ansible docker build

#663 Fix for updating product variants and models
  pim/src/PcmtRulesBundle/Resources/config/services.yml
  pim/src/PcmtRulesBundle/Service/RuleProductProcessor.php
  pim/src/PcmtRulesBundle/Tests/Service/RuleProductProcessorTest.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#649 CIS datagrid
  pim/src/PcmtCISBundle/DependencyInjection/PcmtCISExtension.php
  pim/src/PcmtCISBundle/Repository/SubscriptionRepository.php
  pim/src/PcmtCISBundle/Resources/config/data_sources.yml
  pim/src/PcmtCISBundle/Resources/config/datagrid/subscription.yml
  pim/src/PcmtCISBundle/Resources/config/form_extensions/cis/index.yml
  pim/src/PcmtCISBundle/Resources/translations/messages.en_US.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#648 - Creating a new CIS - frontend
  pim/src/PcmtCISBundle/Resources/config/form_extensions/cis/create.yml
  pim/src/PcmtCISBundle/Resources/config/form_extensions/cis/index.yml
  pim/src/PcmtCISBundle/Resources/config/requirejs.yml
  pim/src/PcmtCISBundle/Resources/public/js/form/common/creation/modal.js
  pim/src/PcmtCISBundle/Resources/public/js/form/properties/country_codes.js
  pim/src/PcmtCISBundle/Resources/translations/jsmessages.en_US.yml
  pim/src/PcmtCISBundle/Resources/translations/jsmessages.fr_FR.yml
  pim/src/PcmtCISBundle/Tests/Updater/SubscriptionUpdaterTest.php
  pim/src/PcmtCISBundle/Updater/SubscriptionUpdater.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#667, move away from ansible timeout to env vars
  deploy/ansible/playbook.yml
  deploy/ansible/tasks/pim.yml
Due: ansible docker build

#652 Deleting CIS
  pim/src/PcmtCISBundle/Controller/SubscriptionController.php
  pim/src/PcmtCISBundle/Resources/config/controllers.yml
  pim/src/PcmtCISBundle/Resources/config/datagrid/subscription.yml
  pim/src/PcmtCISBundle/Resources/config/routing/subscription.yml
  pim/src/PcmtCISBundle/Resources/config/services.yml
  pim/src/PcmtCISBundle/Resources/translations/jsmessages.en_US.yml
  pim/src/PcmtCISBundle/Resources/translations/jsmessages.fr_FR.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#664 - A number of product models doesn't appear in the Process Tracker
  pim/src/PcmtRulesBundle/Service/RuleProductProcessor.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#649 CIS datagrid fixes
  pim/src/PcmtCISBundle/Constraint/RequiredFieldConstraint.php
  pim/src/PcmtCISBundle/Resources/config/form_extensions/cis/index.yml
  pim/src/PcmtCISBundle/Resources/translations/jsmessages.en_US.yml
  pim/src/PcmtCISBundle/Resources/translations/jsmessages.fr_FR.yml
  pim/src/PcmtCISBundle/Resources/translations/messages.fr_FR.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

promote zambia-demo to v2.0.3
  .gitlab-ci.env-demo.yml
Due: none

#329, double undp-demo instance size and volume
  deploy/terraform/undp-demo/terraform.tfvars
Due: terraform docker build

#661 One permission for CIS
  pim/src/PcmtCISBundle/Controller/SubscriptionController.php
  pim/src/PcmtCISBundle/Resources/config/acl.yml
  pim/src/PcmtCISBundle/Resources/config/datagrid/subscription.yml
  pim/src/PcmtCISBundle/Resources/config/form_extensions/cis/index.yml
  pim/src/PcmtCISBundle/Resources/config/form_extensions/common/menu.yml
  pim/src/PcmtCISBundle/Resources/translations/messages.en_US.yml
  pim/src/PcmtCISBundle/Resources/translations/messages.fr_FR.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#668 User can go to the product edition without the Edit Product Draft permission
  pim/src/PcmtDraftBundle/Resources/config/form_extensions/product/edit.yml
  pim/src/PcmtDraftBundle/Resources/config/form_extensions/product_model/edit.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#673 Rules - localized and scoped attributes should not be possible to be chosen for key attribute
  pim/src/PcmtRulesBundle/Service/RuleAttributeProvider.php
  pim/src/PcmtRulesBundle/Tests/Service/RuleAttributeProviderTest.php
  pim/src/PcmtRulesBundle/Tests/TestDataBuilder/AttributeBuilder.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#648 Creating a new CIS - frontend
  pim/src/PcmtCISBundle/Constraint/RequiredFieldConstraint.php
  pim/src/PcmtCISBundle/Resources/config/form_extensions/cis/create.yml
  pim/src/PcmtCISBundle/Resources/config/validation/subscription.yml
  pim/src/PcmtCISBundle/Resources/public/js/form/common/creation/modal.js
  pim/src/PcmtCISBundle/Resources/translations/jsmessages.en_US.yml
  pim/src/PcmtCISBundle/Resources/translations/jsmessages.fr_FR.yml
  pim/src/PcmtCISBundle/Tests/TestDataBuilder/SubscriptionBuilder.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#674 Handling product models in source family
  pim/src/PcmtRulesBundle/Connector/Job/Step/RuleProcessStep.php
  pim/src/PcmtRulesBundle/Resources/config/steps.yml
  pim/src/PcmtRulesBundle/Resources/translations/messages.en_US.yml
  pim/src/PcmtRulesBundle/Resources/translations/messages.fr_FR.yml
  pim/src/PcmtRulesBundle/Service/RuleProductProcessor.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#674 Rules - handling product models without variants in source family - unit tests
  pim/src/PcmtRulesBundle/Tests/Connector/Job/Step/RuleProcessStepTest.php
  pim/src/PcmtRulesBundle/Tests/Service/RuleProductProcessorTest.php
  pim/src/PcmtRulesBundle/Tests/TestDataBuilder/ProductModelBuilder.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#675 Rules - handling product models in destination family
  pim/src/PcmtRulesBundle/Resources/config/services.yml
  pim/src/PcmtRulesBundle/Service/RuleProductProcessor.php
  pim/src/PcmtRulesBundle/Tests/Service/RuleProductProcessorTest.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

refactoring, unit tests
  pim/src/PcmtRulesBundle/Connector/Job/Step/RuleProcessStep.php
  pim/src/PcmtRulesBundle/Resources/config/services.yml
  pim/src/PcmtRulesBundle/Service/RuleProcessor.php
  pim/src/PcmtRulesBundle/Service/RuleProcessorCopier.php
  pim/src/PcmtRulesBundle/Service/RuleProductProcessor.php
  pim/src/PcmtRulesBundle/Tests/Connector/Job/Step/RuleProcessStepTest.php
  pim/src/PcmtRulesBundle/Tests/Service/RuleProcessorCopierTest.php
  pim/src/PcmtRulesBundle/Tests/Service/RuleProcessorTest.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#648 Creating a new CIS - frontend
  pim/src/PcmtCISBundle/Resources/config/form_extensions/cis/create.yml
  pim/src/PcmtCISBundle/Resources/config/validation/subscription.yml
  pim/src/PcmtCISBundle/Resources/public/js/form/common/creation/modal.js
  pim/src/PcmtCISBundle/Resources/translations/validators.en_US.yml
  pim/src/PcmtCISBundle/Resources/translations/validators.fr_FR.yml
  pim/src/PcmtCISBundle/Tests/Updater/SubscriptionUpdaterTest.php
  pim/src/PcmtCISBundle/Updater/SubscriptionUpdater.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#629 Generating unique id
  pim/src/PcmtCoreBundle/Controller/UniqueIdGeneratorController.php
  pim/src/PcmtCoreBundle/Resources/config/controllers.yml
  pim/src/PcmtCoreBundle/Resources/config/requirejs.yml
  pim/src/PcmtCoreBundle/Resources/config/routing.yml
  pim/src/PcmtCoreBundle/Resources/public/js/product/field/text-field-with-uuid-button.js
  pim/src/PcmtCoreBundle/Resources/public/templates/form/button/create-unique-id.html
  pim/src/PcmtCoreBundle/Resources/translations/jsmessages.en.yml
  pim/src/PcmtCoreBundle/Resources/translations/jsmessages.fr.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#629 Automatically create unique id - create forms
  pim/src/PcmtCoreBundle/Resources/config/form_extensions/product-model/create.yml
  pim/src/PcmtCoreBundle/Resources/config/form_extensions/product/create.yml
  pim/src/PcmtCoreBundle/Resources/config/requirejs.yml
  pim/src/PcmtCoreBundle/Resources/public/js/form/creation/field-with-uuid-button.js
  pim/src/PcmtCoreBundle/Resources/public/js/product/form/creation/identifier.js
  pim/src/PcmtCoreBundle/Resources/public/templates/form/creation/field.html
  pim/src/PcmtDraftBundle/Resources/config/form_extensions/draft/new-product-drafts-edit.yml
  pim/src/PcmtDraftBundle/Resources/config/form_extensions/draft/new-product-model-drafts-edit.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

cis validation fix
  pim/src/PcmtCISBundle/Entity/Subscription.php
  pim/src/PcmtCISBundle/Resources/config/form_extensions/cis/create.yml
  pim/src/PcmtCISBundle/Resources/config/validation/subscription.yml
  pim/src/PcmtCISBundle/Tests/Updater/SubscriptionUpdaterTest.php
  pim/src/PcmtCISBundle/Updater/SubscriptionUpdater.php
  pim/src/PcmtCoreBundle/upgrades/schema/Version20201023080635.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

Category code fix
  pim/src/PcmtCISBundle/Entity/Subscription.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#629 Automatically create unique id
  pim/src/PcmtCoreBundle/Resources/config/form_extensions/product-model/add_child.yml
  pim/src/PcmtCoreBundle/Resources/config/requirejs.yml
  pim/src/PcmtCoreBundle/Resources/public/js/form/common/fields/text-with-uuid-button.js
  pim/src/PcmtCoreBundle/Resources/public/js/product/form/creation/identifier.js
  pim/src/PcmtCoreBundle/Resources/public/templates/form/common/fields/field-with-uuid-button.html
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

#680 - CIS: generate file
  conf/parameters.yml.dist
  pim/app/config/config.yml
  pim/src/PcmtCISBundle/Controller/SubscriptionController.php
  pim/src/PcmtCISBundle/Resources/E2OpenCIS/done/.gitignore
  pim/src/PcmtCISBundle/Resources/E2OpenCIS/work/.gitignore
  pim/src/PcmtCISBundle/Resources/config/controllers.yml
  pim/src/PcmtCISBundle/Resources/config/services.yml
  pim/src/PcmtCISBundle/Service/CISFileService.php
  pim/src/PcmtCISBundle/Service/CISFileUniqueIdentifierGenerator.php
  pim/src/PcmtCISBundle/Tests/Service/CISFileServiceTest.php
  pim/src/PcmtCISBundle/Tests/Service/CISFileUniqueIdentifierGeneratorTest.php
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy

CIS permission group name changed
  pim/src/PcmtCISBundle/Resources/config/acl.yml
  pim/src/PcmtCISBundle/Resources/config/acl_groups.yml
  pim/src/PcmtCISBundle/Resources/translations/messages.en_US.yml
  pim/src/PcmtCISBundle/Resources/translations/messages.fr_FR.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test-destroy
